<div id="header" class="heading" style="background-image: url(<%= image_path 'img01.jpg' %>);">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <div class="page-title">
                    <h1><%= item[:title] %></h1>
                </div>
                <ol class="breadcrumb">
                    <li><a href="<%= root_path %>">Home</a></li>
                    <li><a href="<%= item[:path] %>"><%= item[:title] %></a></li>
                </ol>
            </div>
        </div>
    </div>
</div>