<div class="col-md-3 col-md-pull-9 sidebar">
  <div class="widget widget-sidebar widget-white">
    <div class="widget-header">
      <h3>Tipo</h3>
    </div>
    <% cache('general_real_estates', skip_digest: true) do %>
        <ul class="list-check">
          <% RealEstate.rent_types.each do |r| %>
              <li><a href="<%= search_path %>?tipos=<%=r[0]%>#content"><%= t("real_estate_type_#{r[0]}") %></a>&nbsp;(<%= @real_estates_total_types[r[1]].nil? ? '0' : @real_estates_total_types[r[1]] %>)</li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>