<div class="quick-search">
  <div class="row">

    <div class="col-xs-12" style="margin-bottom: 15px">
      <div class="input-group input-group-<%= touch_device? ? 'sm' : 'lg' %>">
        <input type="text" id="code" class="form-control" name="codigo" placeholder="Informe o código do imóvel" value="<%= params[:code] %>" maxlength="11" style="font-family: Arial;text-transform: uppercase">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" onclick="bycode()"><span class="hidden-xs">Ver Imóvel </span><i class="fa fa-sign-in"></i></button>
          </span>
      </div>
    </div>
  </div>
  <div class="row">
    <form role="form" action="<%= search_path %>#content" method="get">

      <input type="hidden" id="ordenationRealEstates" value="<%= params[:ordenacao] %>" name="ordenacao"/>

      <div class="form-group col-xs-12 col-sm-3">
        <label for="searchCity">Cidade</label>
        <select id="searchCity" onchange="initSelectNeighborhoods(this)" name="cidade" class="form-control">
          <% @cities_with_real_estate.each do |c| %>
              <option <%= c.id.to_s.eql?(params[:cidade]) ? 'selected' : '' %> value="<%= c.id %>"><%= c.name %></option>
          <% end %>
        </select>
      </div>

      <div class="form-group col-xs-12 col-sm-9">
        <label for="searchNeighborhood">Bairro</label>
        <input type="hidden" name="bairros" value="<%= params[:bairros] %>" id="searchNeighborhood" class="form-control"/>
      </div>

      <div class="form-group col-xs-12">
        <label for="searchTipo">Tipo</label>
        <input type="hidden" name="tipos" value="<%= params[:tipos] %>" id="searchTipo" class="form-control slct-mtp"/>
      </div>


      <div class="form-group col-xs-12">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="form-group">
              <label for="searchBedrooms">Dormitórios</label>
              <input type="hidden" name="dormitorios" value="<%= params[:dormitorios] %>" id="searchBedrooms" class="form-control slct-mtp"/>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="form-group">
              <label for="searchBathrooms">Suítes</label>
              <input type="hidden" name="suítes" value="<%= params[:suítes] %>" id="searchBathrooms" class="form-control slct-mtp"/>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="form-group">
              <label for="searchSpaceVacation">Vagas Garagem</label>
              <input type="hidden" name="vagasGaragem" value="<%= params[:vagasGaragem] %>" id="searchSpaceVacation" class="form-control slct-mtp"/>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="minprice">Preço mínimo (R$)</label>
          <select id="minprice" name="precoMinimo" class="form-control">
            <%= options_for_select([['Qualquer', '' ], ['100 mil', '100000'], ['200 mil', '200000'], ['300 mil', '300000'], ['400 mil', '400000'], ['500 mil', '500000'], ['600 mil', '600000'], ['700 mil', '700000'], ['800 mil', '800000'], ['900 mil', '900000'], ['1 Milhão', '1000000']], params[:precoMinimo]) %>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="maxprice">Valor máximo (R$)</label>
          <select id="maxprice" name="precoMaximo"  class="form-control">
            <%= options_for_select([['Qualquer', '' ], ['100 mil', '100000'], ['200 mil', '200000'], ['300 mil', '300000'], ['400 mil', '400000'], ['500 mil', '500000'], ['600 mil', '600000'], ['700 mil', '700000'], ['800 mil', '800000'], ['900 mil', '900000'], ['1 Milhão', '1000000'], ['1 Milhão', '1000000'], ['1,5 Milhões', '1500000'], ['2 Milhões', '2000000'], ['2,5 Milhões', '2500000'], ['3 Milhões', '3000000'], ['3,5 Milhões', '3500000'], ['4 Milhões', '4000000'], ['4,5 Milhões', '4500000'], ['5 Milhões', '5000000'], ['> 5 Milhões', '5000001']], params[:precoMaximo]) %>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="submit">&nbsp;</label><br/>
          <div class="btn-group" role="group" style="width: 100%">
              <button type="button" onclick="clearParameters()" value="Limpar" class="btn btn-default" style="width: 50%"><i class="fa fa-refresh"></i> Limpar</button>
              <button type="submit" id="btnSearchRealEstate" value="Procurar" style="width: 50%" class="btn btn-success "><i class="fa fa-search"></i> Procurar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>