<% content_for :sub_title do %>Ache o imóvel que você deseja de forma simples e rápida<% end %>
<% content_for :seo_header do %>
    <meta name="description" content="Procure o imóvel que você deseja de forma simples, rápida e sem complicações.">
<% end %>

<div id="header" class="heading" style="background-image: url(<%= image_path randomized_city_image %>);">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12">
        <div class="page-title">
          <h1>Ache o seu imóvel aqui&nbsp;&nbsp;<i class="fa fa-arrow-down"></i></h1>
        </div>
        <%= render :partial => 'includes/search' %>
        <ol class="breadcrumb">
          <li><a href="<%= root_path %>">Home</a></li>
          <li><a href="<%= search_path %>">Procurar</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>


<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-push-3">
        <div class="row">
          <div class="col-md-12">
            <h2>Resultado da consulta (<strong><%=@real_estates.total_entries%></strong> imóveis localizados)</h2>
            <p style="color: red"><%= notice %></p>
          </div>
        </div>
        <div class="row sort">
          <div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8 col-xs-offset-3 col-xs-9">
            <form class="form-inline" role="form">
              <span>Ordernar por : </span>
              <div class="form-group">
                <label class="sr-only" for="sortby">Ordernar por : </label>
                <select id="ordenatorRealEstates" class="form-control">
                  <%= options_for_select([['Mais recentes', 'mais-recentes' ], ['Menor Preço', 'menor-preco'], ['Maior Preço', 'maior-preco']], params[:ordenacao]) %>
                </select>
              </div>
            </form>
          </div>
        </div>

        <div class="row container-realestate" style="position: relative; height: 774px;">
          <% @real_estates.each do |re| %>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="property-container">
                  <div class="property-image">
                    <% if re.real_estate_images.first.nil? %>
                        <a href="<%= url_real_estate_full re %>"><img src="<%= image_path 'sem-foto.jpg' %>" alt="Sem foto"></a>
                    <% else %>
                        <a href="<%= url_real_estate_full re %>"><img src="<%= re.real_estate_images.first.url %>" alt="Foto <%= re.title %>"></a>
                    <% end %>

                    <div class="property-price">
                      <h4><%= t("real_estate_type_#{re.rent_type}") %></h4>
                      <span>R$ <%= number_to_currency(re.price, :unit => '', :separator => ',', :delimiter => '.') %></span>
                    </div>
                  </div>
                  <div class="property-features">
                    <span><%= re.total_area %> m<sup>2</sup></span>
                    <span><%= re.bedrooms %> Dorm</span>
                    <span><%= re.bathrooms %> Suítes</span>
                  </div>
                  <div class="property-content">
                    <h5><a href="<%= url_real_estate_full re %>"><%= re.title %></a></h5>
                    <p><%= re.neighborhood.name %> - <%= re.neighborhood.city.name %>/<%= re.neighborhood.city.state.acronym %></p>
                  </div>
                  <div class="property-footer">
                    <a href="<%= url_real_estate_full re %>#localizacao" title="Solicitar Proposta"><i class="fa fa-envelope"></i></a>
                  </div>
                </div>
              </div>
          <% end %>
        </div>

        <div class="row">
          <div class="col-md-12">
            <%= will_paginate @real_estates, renderer: BootstrapPagination::Rails, :previous_label => '<<', :next_label => '>>' %>
          </div>
        </div>
      </div>

      <%= render :partial => 'includes/lateral_menu' %>

    </div>
  </div>
</div>