<% content_for :sub_title do %>Sobre Nós
<% end %>
<% content_for :seo_header do %>
    <meta name="description" content="A Buy Imóveis conta com uma equipe altamente qualificada e com muitos anos de experiência no mercado imobiliário.">
<% end %>

<%= render(:partial => 'includes/breadcrumb', :locals => {:item => {:title => 'Sobre Nós', :path => about_us_path}}) %>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-container">
          <div class="blog-content">
            <div class="blog-image" style="background-image: url(<%= image_path randomized_city_image %>);">
              <div class="blog-author">
                <img src="<%= image_path 'logo-white.png' %>" alt="Porto Alegre, Forianopolis, Gramado, Novo Hamburgo, São Leopoldo">
                Buy Imóveis - O imóvel do seu sonho a um clique de você.
              </div>
            </div>
            <div class="blog-title">
              <h2>Nossa História</h2>
            </div>

            <div class="blog-text">
              <p>Um grupo de consultores experientes, observando o cenário econômico gaúcho e o atendimento prestado aos
                clientes, concluiu que existe uma demanda por atendimento personalizado de excelente qualidade,
                confiança e agilidade. Dessa análise, formou-se uma equipe treinada e focada para suprir essas
                necessidades, com o objetivo de prestar um serviço onde o cliente possa otimizar seus lucros e seu
                tempo, trazendo-lhe total satisfação. </p>
            </div>

            <div class="blog-text">
              <h3>Missão</h3>

              <p>Atender com excelência as necessidades dos clientes, proporcionando-lhes rapidez e segurança,
                maximizando seus investimentos e qualidade de vida.</p>
          </div>
          <div class="blog-text">
            <h3>Visão</h3>
              <p>Tornar-se, em cinco anos, referência nas transações imobiliárias de excelência no sul do país e ser
                reconhecida como melhor opção por clientes para busca por atendimento personalizado.</p>
          </div>
            <div class="blog-text">
              <h3>Valores</h3>

              <ul>
                <li>Ética</li>
                <li>Agilidade</li>
                <li>Transparência</li>
                <li>Valorização Humana</li>
                <li>Foco</li>
                <li>Comprometimento</li>
                <li>Motivação</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>