<!doctype html>
<html lang="pt-br" class="high" data-ng-app="buy-imoveis">
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <base href="/">
  <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="content-language" content="pt-br"/>

  <!-- Use title if it's in the page YAML frontmatter -->
  <title ng-bind="titlePage"></title>

  <script type="text/javascript">
      var polyfilter_scriptpath = "/assets/manager/polyfills/filters/";
  </script>

  <%= stylesheet_link_tag 'manager/application', media: 'all' %>
  <%= javascript_include_tag 'manager/application' %>

  <%= csrf_meta_tags %>

</head>
<body class="high emerald-default htmls htmls_pages htmls_pages_sign_in" data-ng-controller="LoginCtrl">
<div class="em-page-center-parent">
  <div class="em-page-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">

          <div class="actionable" id="actionable-sign-in">
            <div class="actionable-front component-shadow">
              <div class="panel">
                <div class="panel-body">
                  <div class="text-center">
                    <img src="<%= image_path 'logo-marca.jpg' %>">
                    <h3>
                      <strong>BUY</strong> <span class="thin">IMÓVEIS</span>
                    </h3>
                  </div>

                  <div class="padded">
                    <form id="loginForm" name="loginForm" ng-submit="login(credentials)">
                      <input type="hidden" name="<%= request_forgery_protection_token.to_s %>" ng-model="credentials.<%= request_forgery_protection_token.to_s %>" ng-init="credentials.<%= request_forgery_protection_token.to_s %> = '<%= form_authenticity_token %>'" value="{{credentials.<%= request_forgery_protection_token.to_s %>}}">
                      <div class="form-group email required">
                        <div class="jvFloat"><label class="placeHolder" for="3yl6">E-mail</label>
                         <input class="string email required form-control" ng-model="credentials.email" maxlength="255" name="email" placeholder="E-mail" required rel="jvfloat" id="3yl6"></div>
                      </div>
                      <div class="form-group password required">
                        <div class="jvFloat">
                          <label class="placeHolder" for="p4ry">Senha</label>
                          <input class="password required form-control" ng-model="credentials.password" name="password" placeholder="Senha" type="password" required rel="jvfloat" id="p4ry">
                        </div>
                      </div>

                      <div class="form-group actions">
                        <button class="btn btn-success-lt btn-block" ng-disabled="loginForm.$invalid"  type="submit"><i class="fa fa-sign-in"></i> Entrar</button>
                      </div>

                      <div class="form-group">
                        <div class="text-right">
                          <a href="#" data-toggle="modal" ng-click="setEmail(credentials)" data-target="#myModal">Esqueci a senha</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="actionable-back component-shadow bg-white padded">
              <div class="actionable-contain">
                <button type="button" class="close pull-right">×</button>
                <br><br>
                <h1 class="thin text-success text-center actionable-animated-fadeInLeftSmall">{{messageHeader}}</h1>
                <br><br>
                <div class="progress">
                  <div class="progress-bar progress-bar-success progress-bar-striped active" style="width: 100%">
                  </div>
                </div>
                <br><br>
                <p class="text-center actionable-animated-fadeInRightSmall">{{messageProcessing}}</p>
              </div>
            </div>
          </div>

          <div class="text-center">
            © <%= Date.current.year %> Buy Imóveis. Todos direitos reservados
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Esqueci a senha</h4>
      </div>
      <form ng-submit="forgetPassword(user)" name="forgetForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <input type="email" ng-model="user.email" id="forgetMail" class="form-control" placeholder="Informe seu email" required />
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
          <button type="submit" ng-disabled="isDisabled" class="btn btn-primary" data-ng-disabled="forgetForm.$invalid"><i class="fa fa-paper-plane-o"></i>  Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="mq"></div>
<div id="emvars"></div>
</body>
</html>