<div class="dt-toolbar-footer">
    <div class="col-sm-4 col-xs-12 hidden-xs">
        <div class="dataTables_info" id="datatable_col_reorder_info" role="status" aria-live="polite">Página
            <span class="txt-color-darken">{{page}}</span> | Total de <span class="text-primary">{{total}}</span> itens.
        </div>
    </div>
    <div class="col-sm-8 col-xs-12">
        <div class="dataTables_paginate paging_bootstrap paging_simple_numbers" id="datatable_col_reorder_paginate">
            <ul ng-hide="Hide" ng-class="ulClass">
                <li ng-class="Item.liClass" ng-repeat="Item in List"><a href="#" title="{{Item.title}}" ng-click="Item.action()"><span ng-bind="Item.value"></span></a></li>
            </ul>
        </div>
    </div>
</div>
