<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h3 class="em-page-header v-mid-row thin">
        <i class="icm icm-home6 text-gradient-info-dk"></i>
        <span class="text-gradient-info-dk">Usuários</span>
      </h3>
    </div>
    <div class="col-sm-6 text-right-sm text-right-md text-right-lg hidden-xs hidden-sm">
      <ul class="breadcrumb breadcrumb-top">
        <li><i class="fa fa-home"></i> Manager</li>
        <li class="active">Usuários</li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="rows" rel="panels">
    <div class="panels">
      <div class="panel panel-default gradient-diag1">
        <div class="panel-heading panel-handle panel-colorize">
          <div class="panel-actions pull-right panel-actions-reveal">
            <span class="panel-actions-reveal-hide animated fadeInRight">
                <span class="panel-action panel-fullscreen">
                  <i class="fa fa-expand"></i>
                </span>
                <span class="panel-action panel-collapse">
                  <i class="fa fa-minus"></i>
                </span>
            </span>
            &nbsp;&nbsp;
            <i class="fa fa-bars panel-actions-reveal-icon"></i>
          </div>
          <div class="panel-title">
            <span class="panel-title" data-type="text">Dados  do Usuário</span>
          </div>
        </div>
        <div class="panel-body-collapse collapse in">
          <div class="panel-body">
            <form id="form" name="form" role="form" ng-submit="save(entity)">
              <div class="form-group" ng-class="{'has-error': form.name.$error.required && form.name.$dirty}">
                <label for="name">Nome <span class="text-gradient-danger">*</span></label>
                <input type="text" ng-model="entity.name" maxlength="100" class="form-control" id="name" name="name" placeholder="Informe o nome" required>
              </div>
              <div class="form-group" ng-class="{'has-error': form.email.$error.required && form.email.$dirty}">
                <label for="email">E-mail <span class="text-gradient-danger">*</span></label>
                <input type="text" ng-model="entity.email" maxlength="300" class="form-control" id="email" name="email" placeholder="Informe o e-mail" required>
              </div>
              <div class="form-group">
                <label class="control-label">Perfil</label>
                <p class="form-control-static">{{entity.profile == 'admin' ? 'Administrador' : 'Vendedor'}}</p>
              </div>
              <% if @user_session.admin? and !@user_session.eql?(@user) %>
              <div class="form-group col-sm-4">
                <label for="profile">Perfil</label>
                <div class="inline-group">
                  <label class="radio-inline"><input type="radio" ng-model="entity.profile" value="admin"> Administrador</label>
                  <label class="radio-inline"><input type="radio" ng-model="entity.profile" value="seller"> Vendedor</label>
                </div>
              </div>
              <% elsif @user_session.eql? @user %>
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.password.$error.required && form.password.$dirty}">
                    <label for="password">Senha <span class="text-gradient-danger">*</span></label>
                    <input type="password" ng-model="entity.password" maxlength="30" class="form-control" id="password" name="password" placeholder="Informe a senha" required>
                  </div>

                  <div class="form-group col-sm-4">
                    <label for="newPass">Nova senha</label>
                    <input type="password" ng-model="entity.newPass" ng-change="entity.newPassConfirm = ''" maxlength="30" class="form-control" id="newPass" name="newPass" placeholder="Informe a nova senha">
                  </div>
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.newPassConfirm.$error.pwmatch && form.newPassConfirm.$dirty}">
                    <label for="newPassConfirm">Confirmação nova senha</label>
                    <input type="password" ng-disabled="entity.newPass == ''" ng-model="entity.newPassConfirm" ng-required="entity.newPass != ''" pw-check="newPass" maxlength="30" class="form-control" id="newPassConfirm" name="newPassConfirm" placeholder="Confirme a nova senha">
                  </div>
              <% end %>

              <div class="clearfix"></div>

              <div class="pull-right">
                <% if @user_session.admin? %>
                    <a class="btn btn-default" href="<%= users_path %>"><i class="fa fa-arrow-left"></i><span class="hidden-xs">  Voltar</span></a>
                    <button type="button" ng-click="resetSaveForm(form)" class="btn btn-default"><i class="fa fa-refresh"></i><span class="hidden-xs">  Limpar</span></button>
                <% end %>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"><i class="fa fa-save"></i><span class="hidden-xs">  Salvar</span></button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>