
<div id="header" class="carousel slide carousel-fade hidden-xs" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active" style="background-image: url(<%= image_path randomized_city_image %>);">
      <div class="carousel-caption">
        <h3>O Imóvel que você procura esta aqui...</h3>
        <p>Ache o imóvel que você deseja de forma simples e rápida.</p>
        <div class="property-btn">
          <a href="<%= search_path %>" class="btn btn-success btn-lg"><i class="fa fa-search"></i> Procurar</a>
        </div>
      </div>
    </div>
    <div class="item" style="background-image: url(<%= image_path randomized_city_image %>);">
      <div class="carousel-caption hidden-xs">
        <h3>Milhares de imóveis a um clique de você</h3>
        <p>Ache o imóvel que você deseja e entre em contato conosco. Teremos o prazer em atendê-lo.</p>
        <div class="property-btn">
          <a href="<%= contact_path %>" class="btn btn-success btn-lg"><i class="fa fa-phone"></i> Fale Conosco</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#header" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#header" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>A BUY IMÓVEIS TRAZ AS MELHORES OPORTUNIDADES PARA VOCÊ <small>Apartamentos, Casas, Lojas, Prédios comerciais, Studios e Muito mais...</small></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-container">
          <div class="service-icon">
            <a href="#content"><i class="fa fa-home"></i></a>
          </div>
          <div class="service-content">
            <h3>Imóveis</h3>
            <p>Possuímos uma base com milhares de imóveis para ajudar você a encontrar o que deseja.</p>
          </div>
        </div>
      </div>
      <!-- break -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-container">
          <div class="service-icon">
            <a href="<%= search_path %>"><i class="fa fa-search"></i></a>
          </div>
          <div class="service-content">
            <h3>Simples e Rápido</h3>
            <p>Nosso site oferece uma forma simples e eficaz para você encontrar o seu imóvel.</p>
          </div>
        </div>
      </div>
      <!-- break -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-container">
          <div class="service-icon">
            <a href="<%= about_us_path %>#securanca"><i class="fa fa-shield"></i></a>
          </div>
          <div class="service-content">
            <h3>Segurança</h3>
            <p>Faça negócios com segurança tratando com quem entende do ramo imobiliário.</p>
          </div>
        </div>
      </div>
      <!-- break -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-container">
          <div class="service-icon">
            <a href="<%= about_us_path %>#equipe"><i class="fa fa-users"></i></a>
          </div>
          <div class="service-content">
            <h3>equipe</h3>
            <p>Contamos com uma equipe altamente qualificada e com vários anos de experiência no mercado imobiliário.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-title">
          <h2>ÚLTIMOS IMÓVEIS</h2>
        </div>
      </div>
    </div>
    <div class="row">

      <% cache('general_real_estates_home', skip_digest: true) do %>
          <% @last_real_estates.each do |re| %>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="property-container">
                  <div class="property-image">
                    <% if re.real_estate_images.first.nil? %>
                        <a href="<%= url_real_estate_full re %>"><img src="<%= image_path 'sem-foto.jpg' %>" alt="Sem Foto"></a>
                    <% else %>
                        <a href="<%= url_real_estate_full re %>"><img src="<%= re.real_estate_images.first.url %>" alt="Foto <%= re.real_estate_images.first.label %>"></a>
                    <% end %>

                    <div class="property-price">
                      <h4><%= t("real_estate_type_#{re.rent_type}") %></h4>
                      <span>R$ <%= number_to_currency(re.price, :unit => '', :separator => ',', :delimiter => '.') %></span>
                    </div>
                  </div>
                  <div class="property-features">
                    <span><%= re.total_area %> m<sup>2</sup></span>
                    <span><%= re.bedrooms %> Dorm</span>
                    <span><%= re.bathrooms %> Suítes</span>
                  </div>
                  <div class="property-content">
                    <h4><a href="<%= url_real_estate_full re %>"><%= re.title %></a></h4>
                  </div>
                  <div class="property-footer">
                    <a href="<%= url_real_estate_full re %>#localizacao" title="Solicitar Proposta"><i class="fa fa-envelope"></i></a>
                  </div>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>