<?xml version="1.0" encoding="UTF-8"?>
 <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
  xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">

    <url>
        <loc>http://www.buyimoveis.com.br/</loc>
        <changefreq>daily</changefreq>
        <priority>0.5</priority>
    </url>

    <url>
        <loc>http://www.buyimoveis.com.br/procurar</loc>
        <changefreq>daily</changefreq>
        <priority>0.5</priority>
    </url>

    <url>
        <loc>http://www.buyimoveis.com.br/sobre</loc>
        <changefreq>monthly</changefreq>
        <priority>0.5</priority>
    </url>

    <url>
        <loc>http://www.buyimoveis.com.br/contato</loc>
        <changefreq>monthly</changefreq>
        <priority>0.5</priority>
    </url>



    <% RealEstate.where(:removed => false).each do |re| %>
    <url>
        <loc>http://www.buyimoveis.com.br<%= url_real_estate_full re %></loc>
        <changefreq>weekly</changefreq>
        <lastmod><%= re.updated_at.strftime '%Y-%m-%dT%H:%M:%SZ' %></lastmod>
        <priority>0.5</priority>


        <% re.real_estate_images.each do |img| %>
            <image:image>
                <image:loc><%= img.url %></image:loc>
                <image:title><%= img.label %></image:title>
                <image:caption><%= t("real_estate_type_#{re.rent_type}") %></image:caption>
                <image:geo_location><%= re.street %>, <%= re.neighborhood.name %> - <%= re.neighborhood.city.name %>/<%= re.neighborhood.city.state.name %></image:geo_location>
            </image:image>
        <% end %>

    </url>

    <url>
        <loc>http://www.buyimoveis.com.br<%= url_real_estate_code re.code %></loc>
        <changefreq>weekly</changefreq>
        <lastmod><%= re.updated_at.strftime '%Y-%m-%dT%H:%M:%SZ' %></lastmod>
        <priority>0.5</priority>
    </url>
    <% end %>

</urlset>