/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require manager/app-all-styles
 *= require_self
 */
.lst-rental-photos {
  list-style: none;
  width: 100%;
}

.lst-rental-photos li{
  float: left;
  margin: 2px;
}

input.ui-autocomplete-loading {
  background-image: image-url('select2-spinner.gif') !important;
  background-repeat: no-repeat;
  background-position: 99% 50%;
  padding-right: 27px
}

.pic-container {
  position: relative;
}

.del-pic, .view-pic {
  width: 0;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;

  -webkit-transition: width 300ms ease, background-color 300ms ease;
  -moz-transition: width 300ms ease, background-color 300ms ease;
  -ms-transition: width 300ms ease, background-color 300ms ease;
  -o-transition: width 300ms ease, background-color 300ms ease;
  transition: width 300ms ease, background-color 300ms ease;
}

.pic-container:hover .del-pic, .pic-container:hover .view-pic {
  width: 50%;
}

.del-pic {
  left: 0;
  background-color: rgba(255, 0, 0, 0.5);
}
.view-pic {
  right: 0;
  background-color: rgba(0, 255, 0, 0.5);
}

.del-pic:hover {
  background-color: rgba(255, 0, 0, 0.6);
}

.view-pic:hover {
  background-color: rgba(0, 255, 0, 0.6);
}
