<% content_for :sub_title do %><%=@real_estate.title%><% end %>
<% content_for :seo_header do %>
    <meta name="description" content="<%=truncate(@real_estate.notes, :length => 155)%>">
<% end %>

<div id="header" class="heading" style="background-image: url(<%= image_path 'img01.jpg' %>);">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12">
        <div class="page-title">
          <h1><%= @real_estate.title %></h1>
        </div>

        <ol class="breadcrumb">
          <li><a href="<%= root_path %>">Home</a></li>
          <li><a href="<%= search_path %>">Procurar</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-push-3">
        <div class="row">
          <div class="col-md-12 single-post">
            <ul id="myTab" class="nav nav-tabs nav-justified">
              <li class="active"><a href="#detail" data-toggle="tab"><i class="fa fa-building"></i> Detalhes</a></li>
              <li class=""><a href="#localizacao" data-toggle="tab"><i class="fa fa-map-marker"></i> Localização</a></li>
            </ul>

            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="detail">
                <div class="row">
                  <div itemscope="" itemtype="http://schema.org/SellAction">
                    <meta itemprop="name" content="<%= @real_estate.title %>"/>
                    <h2>Fotos <%= @real_estate.title %></h2>

                    <% if @real_estate.real_estate_images.size > 0 %>
                        <div id="slider-property" class="carousel slide" data-ride="carousel">
                          <ol class="carousel-indicators">
                            <% @real_estate.real_estate_images.each_with_index do |img, idx| %>
                                <li data-target="#slider-property" data-slide-to="<%= idx %>" class="<%= 'active' if idx == 0 %>">
                                  <img itemprop="image" src="<%= img.url %>" alt="Foto <%= img.label %>">
                                </li>
                            <% end %>
                          </ol>
                          <div class="carousel-inner">
                            <% @real_estate.real_estate_images.each_with_index do |img, idx| %>
                                <div class="item <%= 'active' if idx == 0 %>">
                                  <img src="<%= img.url %>" alt="Foto <%= img.label %>">
                                </div>
                            <% end %>
                          </div>
                          <a class="left carousel-control" href="#slider-property" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                          </a>
                          <a class="right carousel-control" href="#slider-property" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                          </a>
                        </div>
                    <% else %>
                        <div style="width: 100%" class="text-center">
                            <img itemprop="image" src="<%= image_path 'sem-foto.jpg' %>" alt="Imóvel sem foto">
                        </div>
                    <% end %>

                    <div class="social">
                      <span class="facebook">
                        <span class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></span>
                      </span>
                      <span class="google">
                        <span class="g-plusone" data-size="medium"></span>
                      </span>
                      <span class="twitter">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true">Tweet</a>
                      </span>
                      <% if touch_device? %>
                        <span class="whatsapp hidden-lg hidden-md"><a href="whatsapp://send?text=<%= "Da uma olhada nesse imóvel da Buy Imóveis: #{request.original_url}" %>" class="wa-btn wa-btn-s">Whatsapp</a></span>
                      <% end %>
                    </div>
                    <h3>Dados</h3>
                    <table class="table table-bordered">
                      <tbody><tr>
                        <td width="30%"><strong>Código</strong></td>
                        <td><%= @real_estate.code %></td>
                      </tr><tr>
                        <td><strong>Cidade</strong></td>
                        <td><%= @real_estate.neighborhood.city.name %></td>
                      </tr><tr>
                        <td><strong>Bairro</strong></td>
                        <td><%= @real_estate.neighborhood.name %></td>
                      </tr>
                      <tr>
                        <td><strong>Valor</strong></td>
                        <td>R$ <%= number_to_currency(@real_estate.price, :unit => '', :separator => ',', :delimiter => '.') %></td>
                      </tr>
                      <tr>
                        <td><strong>Valor Condomínio</strong></td>
                        <td>R$ <%= number_to_currency(@real_estate.apartment_complex_price, :unit => '', :separator => ',', :delimiter => '.') %></td>
                      </tr>
                      <tr>
                        <td><strong>Tipo</strong></td>
                        <td><%= t("real_estate_type_#{@real_estate.rent_type}") %></td>
                      </tr>
                      <tr>
                        <td><strong>Área Total</strong></td>
                        <td><%= @real_estate.total_area %>m<sup>2</sup> </td>
                      </tr>
                      <tr>
                        <td><strong>Área Útil</strong></td>
                        <td><%= @real_estate.area_usable %>m<sup>2</sup> </td>
                      </tr>
                      <% %w(year_construction rooms elevators balconies kitchens bathrooms bedrooms parking_spaces
                      towers_count floor_count apartment_floor_count apartment_count).each do |arr| %>
                          <% value = @real_estate.send("#{arr}")
                             if !value.nil? && value > 0 %>
                              <tr>
                                <td><strong><%= t("real_estate_#{arr}") %></strong></td>
                                <td><%= value %></td>
                              </tr>
                          <% end %>
                      <% end %>
                      <tr>
                        <td><strong>Conservação</strong></td>
                        <td><%= t("real_estate_conservation_#{@real_estate.conservation}") %></td>
                      </tr>
                      <tr>
                        <td><strong>Mobiliado</strong></td>
                        <td><%= t("real_estate_furnished_#{@real_estate.furnished}") %></td>
                      </tr>
                      </tbody>
                    </table>
                    <h3>Características</h3>
                    <div class="row">
                      <div class="col-xs-12 ">
                        <ul class="list-unstyled real-state-props">
                          <% %w(apartment_complex barbecue_grill concierge elevator fireplace playground planned_neighborhood
                          suite lavatory vacancy hot_water central_gas barbecue_condo anchor_to_split anchor_to_hood forest
                          intercom individual_measurement_gas individual_measurement_water vacancy_guest port_cochare party_room terrace
                          room_convention gourmet_space adult_pool children_pool gym pantry dressing dependence_maid tv_circuit automatization
                          generator garth balcony service_area caretaker whirlpool lobby).each do |arr| %>
                              <% if @real_estate.send("#{arr}?") %>
                              <li><i class="fa fa-check"></i> <%= t("real_estate_#{arr}") %></li>
                            <% end %>
                          <% end %>
                        </ul>
                      </div>
                    </div>

                    <h3>Descrição</h3>
                    <p itemprop="description"><%= @real_estate.notes %></p>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="localizacao">
                <div class="row">
                  <div class="col-md-12">
                    <div id="map-property" data-lat="<%= @real_estate.latitude %>" data-icon="<%= image_path 'logo-white-point-map.png' %>" data-lng="<%= @real_estate.longitude %>"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3>Solicite uma Proposta</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="team-container team-dark">
                      <div class="team-image">
                        <img src="<%= image_path 'customer-service.jpg'%>" alt="Entre em contato conosco">
                      </div>
                      <div class="team-description">
                        <h3>Buy Imóveis</h3>
                        <p><i class="fa fa-phone"></i> Tel. : <a href="<%= phone %>"><%= phone_formatted(phone) %></a> | <a href="<%= phone2 %>"><%= phone_formatted(phone2) %></a></p>
                        <p>Ligue pra nós e tire suas dúvidas. Teremos o prazer em atendê-lo.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <form onsubmit="return proposal(this)" action="<%= look_real_estate_call_proposal_path %>">
                      <%= tag(:input, :type => 'hidden', :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                      <input type="hidden" name="real_estate_id" value="<%= @real_estate.id %>">
                      <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" name="name" class="form-control input-lg" placeholder="Informe seu nome">
                      </div>
                      <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Informe seu e-mail">
                      </div>
                      <div class="form-group">
                        <label for="telp">Telefone.</label>
                        <input type="tel" name="phone" class="form-control input-lg" placeholder="Informe seu telefone">
                      </div>
                      <div class="form-group">
                        <label for="message">Mensagem</label>
                        <textarea class="form-control input-lg" name="message" rows="7" placeholder="Mensagem"></textarea>
                      </div>
                      <div class="form-group">
                        <button type="submit" id="btnProposal" name="submit" class="btn btn-success btn-lg"><span id="btnProposalLabel">Solicitar Proposta</span></button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render :partial => 'includes/lateral_menu' %>
    </div>
  </div>
</div>