<%= render(:partial=> 'includes/breadcrumb', :locals => {:item => {:title => 'Proposta', :path => request.original_url}}) %>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Proposta número <%= @proposal.code %></h1>
        <%= simple_format(@proposal.notes) %>


        <h2><%= @proposal.real_estate.title %></h2>
        <table class="table table-bordered">
          <tbody><tr>
            <td width="20%"><strong>Código</strong></td>
            <td><%= @proposal.real_estate.code %></td>
          </tr>
          <tr>
            <td><strong>Valor</strong></td>
            <td>R$ <%= number_to_currency(@proposal.real_estate.price, :unit => '', :separator => ',', :delimiter => '.') %></td>
          </tr>
          <tr>
            <td><strong>Valor Condomínio</strong></td>
            <td>R$ <%= number_to_currency(@proposal.real_estate.apartment_complex_price, :unit => '', :separator => ',', :delimiter => '.') %></td>
          </tr>
          <tr>
            <td><strong>Tipo</strong></td>
            <td><%= t("real_estate_type_#{@proposal.real_estate.rent_type}") %></td>
          </tr>
          <tr>
            <td><strong>Suítes</strong></td>
            <td><%= @proposal.real_estate.bathrooms %></td>
          </tr>
          <tr>
            <td><strong>Dormitórios</strong></td>
            <td><%= @proposal.real_estate.bedrooms %></td>
          </tr>
          <tr>
            <td><strong>Área Total</strong></td>
            <td><%= @proposal.real_estate.total_area %>m<sup>2</sup> </td>
          </tr>
          <tr>
            <td><strong>Área Útil</strong></td>
            <td><%= @proposal.real_estate.area_usable %>m<sup>2</sup> </td>
          </tr>
          </tbody></table>


      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 ">
        <h3>Características</h3>
        <ul>
          <% [:apartment_complex, :barbecue_grill, :concierge, :elevator, :fireplace, :playground].each do |arr| %>
              <% if @proposal.real_estate.send("#{arr}?") %>
                  <li><i class="fa fa-check"></i> <%= t("real_estate_#{arr}") %></li>
              <% end %>
          <% end %>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-xs-12 ">
        <h4>Descrição do imóvel</h4>
        <%= simple_format(@proposal.real_estate.notes) %>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-xs-12 ">
        <h5>Fotos</h5>

        <div id="slider-property" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @proposal.real_estate.real_estate_images.each_with_index do |img, idx| %>
                <li data-target="#slider-property" data-slide-to="<%= idx %>" class="<%= 'active' if idx == 0 %>">
                  <img src="<%= img.url %>" alt="Foto <%= @proposal.real_estate.title %>">
                </li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @proposal.real_estate.real_estate_images.each_with_index do |img, idx| %>
                <div class="item <%= 'active' if idx == 0 %>">
                  <img src="<%= img.url %>" alt="">
                </div>
            <% end %>
          </div>
          <a class="left carousel-control" href="#slider-property" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#slider-property" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
