<div class="row">
  <div class="col-xs-12">
    <h5>Marque o local no mapa</h5>

    <div class="form-group">
      <input id="placeSearch" class="form-control" type="search" placeholder="Procurar localidade...">
    </div>
    <div class="clearfix"></div>

    <div class="container-fluid" id="divGmap" style="min-height: 350px"></div>
  </div>
</div>

<div class="row" style="margin-top: 10px">
  <div class="form-group col-sm-2">
    <label for="postalCode">CEP</label>
    <input type="text" ng-model="entity.postalCode" data-ng-keyup="searchPostalCode($event)" class="form-control" id="postalCode" name="postalCode" placeholder="Informe o CEP">
  </div>

  <div class="form-group col-sm-10" ng-class="{'has-error': form.neighborhood.$error.required && form.neighborhood.$dirty}">
    <label for="neighborhoodText">Bairro</label>
    <input type="text" ng-model="neighborhoodText" class="form-control" id="neighborhoodText" name="neighborhoodText" placeholder="Informe o bairro">
    <a class="text-gradient-info-lt" href="#" onclick="$('#neighborhoodText').val('indepe, porto a').trigger('keydown')">Clique aqui pra ver um exemplo...</a>
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-8" ng-class="{'has-error': form.street.$error.required && form.street.$dirty}">
    <label for="street">Endereço <span class="text-gradient-danger">*</span></label>
    <input type="text" ng-model="entity.street" class="form-control" id="street" name="street" placeholder="Informe o endereço" required>
  </div>
  <div class="form-group col-sm-2">
    <label for="streetNotes">Complemento</label>
    <input type="text" maxlength="30" ng-model="entity.streetNotes" class="form-control text-right" id="streetNotes" name="streetNotes" placeholder="Complemento">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.streetNumber.$error.pattern  && form.streetNumber.$dirty}">
    <label for="streetNumber">Número</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.streetNumber" class="form-control text-right" id="streetNumber" name="streetNumber" placeholder="Informe o número">
  </div>
</div>