<div class="row">
  <div class="form-group col-sm-3">
    <label for="bookieName">Nome Proprietário</label>
    <input type="text" ng-model="entity.bookieName" class="form-control" id="bookieName" name="bookieName" placeholder="Informe o nome">
  </div>
  <div class="form-group col-sm-2">
    <label for="phone">Telefone</label>
    <input type="text" ng-model="entity.bookiePhone" input-mask="{mask: '?(99) 9999-999999'}" class="form-control" id="phone" name="phone" placeholder="Informe o telefone">
  </div>
  <div class="form-group col-sm-3" ng-class="{'has-error': form.bookieEmail.$error.email && form.bookieEmail.$dirty}">
    <label for="bookieEmail">E-mail</label>
    <input type="text" ng-model="entity.bookieEmail" class="form-control" id="bookieEmail" name="bookieEmail" placeholder="Informe o e-mail">
  </div>

  <div class="form-group col-sm-4">
    <label for="bookieWhereKeys">Local da(s) Chave(s)</label>
    <input type="text" ng-model="entity.bookieWhereKeys" class="form-control" id="bookieWhereKeys" name="bookieWhereKeys" placeholder="Informe o local da(s) chave(s)">
  </div>
</div>