<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h3 class="em-page-header v-mid-row thin">
        <i class="icm icm-home6 text-gradient-info-dk"></i>
        <span class="text-gradient-info-dk">Imóveis</span>
      </h3>
    </div>
    <div class="col-sm-6 text-right-sm text-right-md text-right-lg hidden-xs hidden-sm">
      <ul class="breadcrumb breadcrumb-top">
        <li><i class="fa fa-home"></i> Manager</li>
        <li class="active">Imóveis</li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <form id="form" name="form" role="form" ng-submit="save(entity)">

    <h4 ng-if="entity.id" class="text-right">Criado em: <span style="font-weight: bold" ng-bind="entity.createdAt"></span> | Última alteração: <span style="font-weight: bold" ng-bind="entity.updatedAt"></span> | Quem alterou: <span style="font-weight: bold" ng-bind="entity.userChangedBy.name"></span></h4>
    <div class="rows">
      <ul class="nav nav-tabs nav-justified-only">
        <li class="active">
          <a href="#generalDataTab" target="_self" data-toggle="tab">Informações Gerais</a>
        </li>
        <li>
          <a href="#addressDataTab" ng-click="redrawMap()" target="_self" data-toggle="tab">Endereço</a>
        </li>
        <li>
          <a href="#caracteristicsDataTab" target="_self" data-toggle="tab">Dados do Imóvel</a>
        </li>
        <li>
          <a href="#ownerDataTab" target="_self" data-toggle="tab">Dados do Proprietário</a>
        </li>
        <li>
          <a href="#bookieDataTab" target="_self" data-toggle="tab">Dados do Agenciador</a>
        </li>
      </ul>
      <div class="tab-content bg-white padded margin-bottom">
        <div id="generalDataTab" class="tab-pane fade in active">
          <%= render :partial => 'general_data' %>
        </div>
        <div id="addressDataTab" class="tab-pane fade in">
          <%= render :partial => 'address' %>
        </div>
        <div id="caracteristicsDataTab" class="tab-pane fade in">
          <%= render :partial => 'properties' %>
        </div>
        <div id="ownerDataTab" class="tab-pane fade in">
          <%= render :partial => 'owner_data' %>
        </div>
        <div id="bookieDataTab" class="tab-pane fade in">
          <%= render :partial => 'bookie_data' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right">
          <a class="btn btn-dark" href="<%= real_estates_path %>"><i class="fa fa-arrow-left"></i><span class="hidden-xs">  Voltar</span></a>
          <button type="button" ng-click="resetSaveForm(form)" class="btn btn-dark"><i class="fa fa-refresh"></i><span class="hidden-xs">  Limpar</span></button>
          <a href="<%= new_proposal_path %>?by={{entity.id}}" ng-hide="entity.id === undefined" class="btn btn-dark"><i class="fa fa-file-archive-o"></i><span class="hidden-xs">  Criar Proposta</span></a>
          <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"><i class="fa fa-save"></i><span class="hidden-xs">  Salvar</span></button>
        </div>
        <div class="clearfix"></div>
        <br/>
      </div>
    </div>
  </form>

</div>