<div class="row">
  <div class="form-group col-md-12" ng-class="{'has-error': form.title.$error.required && form.title.$dirty}">
    <label for="title">Título <span class="text-gradient-danger">*</span></label>
    <input type="text" ng-model="entity.title" maxlength="100" class="form-control" id="title" name="title" placeholder="Informe o título do anúncio" required>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-2" ng-class="{'has-error': form.price.$error.required  && form.price.$dirty}">
    <label for="price">Valor <span class="text-gradient-danger">*</span></label>
    <input type="text" min="0" ng-model="entity.price" input-mask-money class="form-control text-right" id="price" name="price" placeholder="Informe o preço" data-affixes-stay="true" data-thousands="." data-decimal=",">
  </div>
  <div class="form-group col-md-2">
    <label for="squareMeterValue">Valor m2</label>
    <input type="text" min="0" ng-model="entity.squareMeterValue" input-mask-money class="form-control text-right" id="squareMeterValue" name="squareMeterValue" data-affixes-stay="true" data-thousands="." data-decimal=",">
  </div>
  <div class="form-group col-md-2">
    <label for="price">Valor Condomínio</label>
    <input type="text" min="0" ng-model="entity.apartmentComplexPrice" input-mask-money class="form-control text-right" id="apartmentComplexPrice" name="apartmentComplexPrice" data-affixes-stay="true" data-thousands="." data-decimal=",">
  </div>
  <div class="form-group col-md-2">
    <label for="iptuValue">Valor IPTU</label>
    <input type="text" min="0" ng-model="entity.iptuValue" input-mask-money class="form-control text-right" id="iptuValue" name="iptuValue" data-affixes-stay="true" data-thousands="." data-decimal=",">
  </div>
  <div class="form-group col-md-2">
    <label for="brokerageValue">Valor Corretagem</label>
    <input type="text" min="0" ng-model="entity.brokerageValue" input-mask-money class="form-control text-right" id="brokerageValue" name="brokerageValue" data-affixes-stay="true" data-thousands="." data-decimal=",">
  </div>
</div>
<div class="row">
  <div class="form-group string col-xs-12">
    <label for="notes">Descrição <span class="text-gradient-danger">*</span></label>
    <textarea class="form-control" id="notes" name="notes" ng-model="entity.notes" rel="autosize" placeholder="Informe a Descrição" style="overflow: hidden; word-wrap: break-word; resize: vertical; height: 200px;"></textarea>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h5>Fotos </h5>

    <div style="width: 100%;text-align: center">

      <ul class="lst-rental-photos" ng-show="entity.realEstateImages == null || entity.realEstateImages.length == 0">
        <li>
          <div class="pic-container">
            <img src="<%= image_path 'sem-foto.jpg' %>" onclick="$('#fotosPopup').modal('show')" title="Clique para escolher imagens" class="img-responsive" style="max-width: 100px;cursor: pointer">
          </div>
        </li>
      </ul>

      <ul class="lst-rental-photos" ng-repeat="pic in entity.realEstateImages track by $index">
        <li>
          <div class="pic-container">
            <img ng-src="{{pic.url}}" class="img-responsive" style="max-width: 100px;cursor: pointer">
            <span class="del-pic" title="Clique para remover" ng-click="deletePic(pic.key, $index)"><i class="fa fa-2x fa-trash-o"></i></span>
            <span class="view-pic" title="Clique para visualizar" ng-click="zoomPic(pic.url)"><i class="fa fa-2x fa-search-plus"></i></span>
          </div>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div style="width: 100%;text-align: center">
        <button class="btn btn-info btn-lg" onclick="$('#fotosPopup').modal('show')" type="button"> <i class="fa fa-image"></i><span class="hidden-xs">  Clique para escolher as imagens</span></button>
    </div>
  </div>
</div>