<div class="row">
  <div class="form-group col-sm-3">
    <label for="ownerName">Nome Proprietário</label>
    <input type="text" ng-model="entity.ownerName" class="form-control" id="ownerName" name="ownerName" placeholder="Informe o nome">
  </div>
  <div class="form-group col-sm-2">
    <label for="rg">RG</label>
    <input type="text" ng-model="entity.ownerRg" input-mask="{mask: '?9999999999'}" class="form-control" id="ownerRg" name="ownerRg" placeholder="Informe o RG">
  </div>
  <div class="form-group col-sm-2">
    <label for="cpf">CPF</label>
    <input type="text" ng-model="entity.ownerCpf" input-mask="{mask: '?999.999.999-99'}" class="form-control" id="cpf" name="cpf" placeholder="Informe o CPF">
  </div>
  <div class="form-group col-sm-2">
    <label for="phone">Telefone</label>
    <input type="text" ng-model="entity.ownerPhone" input-mask="{mask: '?(99) 9999-999999'}" class="form-control" id="phone" name="phone" placeholder="Informe o telefone">
  </div>
  <div class="form-group col-sm-3" ng-class="{'has-error': form.ownerEmail.$error.email && form.ownerEmail.$dirty}">
    <label for="ownerEmail">E-mail</label>
    <input type="email" ng-model="entity.ownerEmail" class="form-control" id="ownerEmail" name="ownerEmail" placeholder="Informe o e-mail">
  </div>
</div>
