<div class="row">
  <div class="form-group col-sm-2">
    <label for="rentType">Tipo</label>

    <select ng-model="entity.rentType" class="form-control" id="rentType">
      <option value="apartment" checked> Apartamento</option>
      <option value="home"> Casa</option>
      <option value="land"> Terreno</option>
      <option value="release"> Lançamento</option>
      <option value="loft"> Loft</option>
      <option value="studio"> Studio</option>
      <option value="store_business"> Loja</option>
      <option value="room_store"> Sala Comercial</option>
      <option value="business_center"> Prédio Comercial</option>
      <option value="warehouse"> Depósito</option>
      <option value="coverage"> Cobertura</option>
      <option value="duplex"> Duplex</option>
    </select>
  </div>

  <div class="form-group col-sm-2" ng-class="{'has-error': form.totalArea.$error.pattern  && form.totalArea.$dirty}">
    <label for="totalArea">Área total (m2)</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.totalArea" class="form-control text-right" id="totalArea" name="totalArea">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.areaUsable.$error.pattern  && form.areaUsable.$dirty}">
    <label for="areaUsable">Área útil (m2)</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.areaUsable" class="form-control text-right" id="areaUsable" name="areaUsable">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.frontMeters.$error.pattern  && form.frontMeters.$dirty}">
    <label for="frontMeters">Metragem Frente</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.frontMeters" class="form-control text-right" id="frontMeters" name="frontMeters">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.backMeters.$error.pattern  && form.backMeters.$dirty}">
    <label for="backMeters">Metragem Fundos</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.backMeters" class="form-control text-right" id="backMeters" name="backMeters">
  </div>

</div>

<div class="row">
  <div class="form-group col-sm-2" ng-class="{'has-error': form.bathrooms.$error.pattern  && form.bathrooms.$dirty}">
    <label for="bathrooms">Suítes</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.bathrooms" class="form-control text-right" id="bathrooms" name="bathrooms">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.bedrooms.$error.pattern  && form.bedrooms.$dirty}">
    <label for="bedrooms">Dormitórios</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.bedrooms" class="form-control text-right" id="bedrooms" name="bedrooms">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.rooms.$error.pattern  && form.rooms.$dirty}">
    <label for="rooms">Quartos</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.rooms" class="form-control text-right" id="rooms" name="rooms">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.parkingSpaces.$error.pattern  && form.parkingSpaces.$dirty}">
    <label for="parkingSpaces">Vagas garagem</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.parkingSpaces" class="form-control text-right" id="parkingSpaces" name="parkingSpaces">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.kitchens.$error.pattern  && form.kitchens.$dirty}">
    <label for="kitchens">Cozinhas</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.kitchens" class="form-control text-right" id="kitchens" name="kitchens">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.balconies.$error.pattern  && form.balconies.$dirty}">
    <label for="balconies">Sacadas</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.balconies" class="form-control text-right" id="balconies" name="balconies">
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-2" ng-class="{'has-error': form.elevators.$error.pattern  && form.elevators.$dirty}">
    <label for="elevators">Elevadores</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.elevators" class="form-control text-right" id="elevators" name="elevators">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.towersCount.$error.pattern  && form.towersCount.$dirty}">
    <label for="towersCount">Torres</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.towersCount" class="form-control text-right" id="towersCount" name="towersCount">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.floorCount.$error.pattern  && form.floorCount.$dirty}">
    <label for="floorCount">Andares</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.floorCount" class="form-control text-right" id="floorCount" name="floorCount">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.apartmentFloorCount.$error.pattern  && form.apartmentFloorCount.$dirty}">
    <label for="apartmentFloorCount">Apartamentos Andar</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.apartmentFloorCount" class="form-control text-right" id="apartmentFloorCount" name="apartmentFloorCount">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.apartmentCount.$error.pattern  && form.apartmentCount.$dirty}">
    <label for="apartmentCount">Apartamentos</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.apartmentCount" class="form-control text-right" id="apartmentCount" name="apartmentCount">
  </div>
</div>

<div class="row">
  <hr/>
  <div class="col-sm-2">Orientação Solar:</div>
  <div class="col-sm-4">
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.solarNorth" value="true"> Norte</label>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.solarSouth" value="true"> Sul</label>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.solarEast" value="true"> Leste</label>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.solarWest" value="true"> Oeste</label>
  </div>
</div>
<div class="row" style="margin-top: 10px">
  <div class="col-sm-2">Posição:</div>
  <div class="col-sm-4">
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.positionFront" value="true"> Frente</label>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.positionBack" value="true"> Fundos</label>
  </div>
</div>
<div class="row" style="margin-top: 10px">
  <div class="col-sm-2">Situação:</div>
  <div class="col-sm-6">
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.busy" value="true"> Ocupado</label>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.negotiable" value="true"> Negofiável</label>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.exclusivity" value="true"> Exclusivo</label>
  </div>
</div>
<div class="row" style="margin-top: 10px">
  <div class="col-sm-2">Vaga:</div>
  <div class="col-sm-4">
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.vacancyCovered" value="true"> Coberta</label>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.vacancyUncovered" value="true"> Descoberta</label>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.vacancyDouble" value="true"> Dupla</label>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.vacancySimple" value="true"> Simples</label>
  </div>
</div>


<div class="row">
  <hr/>
  <div class="form-group col-sm-4">
    <label for="constructionCompany">Construtora</label>
    <input type="text" ng-model="entity.constructionCompany" maxlength="50" class="form-control" id="constructionCompany" name="constructionCompany" placeholder="Informe a construtora">
  </div>
  <div class="form-group col-sm-4">
    <label for="groundType">Tipo de Piso</label>
    <input type="text" ng-model="entity.groundType" maxlength="50" class="form-control" id="groundType" name="groundType" placeholder="Informe o tipo de piso">
  </div>
  <div class="form-group col-sm-4">
    <label for="service">Serviço</label>
    <input type="text" ng-model="entity.service" maxlength="50" class="form-control" id="service" name="service" placeholder="Informe o serviço">
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-4">
    <label for="conservation">Conservação</label>
    <select class="form-control" ng-model="entity.conservation" id="conservation">
      <option value="perfect" selected>Impecável</option>
      <option value="needs_reform">Necessita Reforma</option>
    </select>
  </div>
  <div class="form-group col-sm-4">
    <label for="furnished">Mobiliado</label>
    <select class="form-control" ng-model="entity.furnished" id="furnished">
      <option value="yes" selected>Sim</option>
      <option value="no">Não</option>
      <option value="half">Semi Mobiliado</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-2" ng-class="{'has-error': form.construtiveIndex.$error.pattern  && form.construtiveIndex.$dirty}">
    <label for="construtiveIndex">Índice Construtivo</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.construtiveIndex" class="form-control text-right" id="construtiveIndex" name="construtiveIndex">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.yearConstruction.$error.pattern  && form.yearConstruction.$dirty}">
    <label for="yearConstruction">Ano Construção</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.yearConstruction" class="form-control text-right" id="yearConstruction" name="yearConstruction">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.enrollmentNumber.$error.pattern  && form.enrollmentNumber.$dirty}">
    <label for="enrollmentNumber">Matrícula</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.enrollmentNumber" class="form-control text-right" id="enrollmentNumber" name="enrollmentNumber">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.enrollmentVacationNumber.$error.pattern  && form.enrollmentVacationNumber.$dirty}">
    <label for="enrollmentVacationNumber">Matrícula Vaga</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.enrollmentVacationNumber" class="form-control text-right" id="enrollmentVacationNumber" name="enrollmentVacationNumber">
  </div>
  <div class="form-group col-sm-2" ng-class="{'has-error': form.registrationZone.$error.pattern  && form.registrationZone.$dirty}">
    <label for="registrationZone">Zona de Registro</label>
    <input type="text" ng-pattern="/^\d{0,10}$/" min="0" maxlength="10" ng-model="entity.registrationZone" class="form-control text-right" id="registrationZone" name="registrationZone">
  </div>
</div>
<div class="row">
  <div class="form-group string col-xs-12">
    <label for="insideDescription">Descrição Interna</label>
    <textarea class="form-control" id="insideDescription" name="insideDescription" ng-model="entity.insideDescription" rel="autosize" placeholder="Informe a Descrição" style="overflow: hidden; word-wrap: break-word; resize: vertical; height: 50px;"></textarea>
  </div>
</div>

<div class="row properties">
  <div class="col-sm-3">
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.apartmentComplex" value="true"> Condomínio</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.barbecueGrill" value="true"> Churrasqueira</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.concierge" value="true"> Portaria</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.plannedNeighborhood" value="true"> Bairro Planejado</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.suite" value="true"> Suíte</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.lavatory" value="true"> Lavabo</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.vacancy" value="true"> Vaga</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.hotWater" value="true"> Água Quente</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.centralGas" value="true"> Gás Central</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.barbecueCondo" value="true"> Churrasqueira Condomínio</label>
  </div>
  <div class="col-sm-3">
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.elevator" value="true"> Elevador</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.fireplace" value="true"> Lareira</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.playground" value="true"> Playground</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.anchorToSplit" value="true"> Espera para Split</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.anchorToHood" value="true"> Espera para Coifa</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.forest" value="true"> Bosque</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.intercom" value="true"> Interfone</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.individualMeasurementGas" value="true"> Medição Individual Gás</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.individualMeasurementWater" value="true"> Medição Individual Água</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.vacancyGuest" value="true"> Vaga para Visitante</label>
  </div>
  <div class="col-sm-3">
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.portCochare" value="true"> Port Cochare</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.partyRoom" value="true"> Salão de Festas</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.terrace" value="true"> Terraço</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.roomConvention" value="true"> Sala para Convenção</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.gourmetSpace" value="true"> Espaço Gourmet</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.adultPool" value="true"> Piscina Adulto</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.childrenPool" value="true"> Piscina Crianças</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.gym" value="true"> Academia</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.pantry" value="true"> Despensa</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.dressing" value="true"> Vestiário</label>
  </div>
  <div class="col-sm-3">
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.dependenceMaid" value="true"> Dependência de Empregada</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.tvCircuit" value="true"> Circuíto de TV</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.automatization" value="true"> Automatização</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.generator" value="true"> Gerador</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.garth" value="true"> Pátio</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.balcony" value="true"> Sacada</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.serviceArea" value="true"> Área de Serviço</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.caretaker" value="true"> Zelador</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.whirlpool" value="true"> Hidromassagem</label> <br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="entity.lobby" value="true"> Lobby</label>
  </div>
</div>