<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <h3 class="em-page-header v-mid-row thin">
        <i class="icm icm-home6 text-gradient-info-dk"></i>
        <span class="text-gradient-info-dk">Pesquisa de Imóveis</span>
      </h3>
    </div>
    <div class="col-xs-6 text-right-sm text-right-md text-right-lg hidden-xs hidden-sm">
      <ul class="breadcrumb breadcrumb-top">
        <li><i class="fa fa-home"></i> Manager</li>
        <li class="active">Pesquisa de Imóveis</li>
      </ul>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="container-fluid">
    <div class="rows" rel="panels">
      <div class="panels">
        <div class="panel panel-default gradient-diag1">
          <div class="panel-heading panel-handle panel-colorize">
            <div class="panel-actions pull-right panel-actions-reveal">
            <span class="panel-actions-reveal-hide animated fadeInRight">
                <span class="panel-action panel-fullscreen">
                  <i class="fa fa-expand"></i>
                </span>
                <span class="panel-action panel-collapse">
                  <i class="fa fa-minus"></i>
                </span>
            </span>
              &nbsp;&nbsp;
              <i class="fa fa-bars panel-actions-reveal-icon"></i>
            </div>
            <div class="panel-title">
              <span class="panel-title">Dados da pesquisa</span>
            </div>
          </div>
          <div class="panel-body-collapse collapse in">
            <div class="panel-body">
              <form id="form" name="form" role="form" ng-submit="search()">

                <div class="form-group col-sm-2">
                  <label for="code">Código</label>
                  <input type="text" ng-model="searchParams.code" maxlength="11" class="form-control" id="code" name="code" placeholder="Informe o código">
                </div>

                <div class="form-group col-sm-10">
                  <label for="keyWord">O que procura</label>
                  <input type="text" ng-model="searchParams.keyWord" maxlength="100" class="form-control" id="keyWord" name="keyWord" placeholder="Informe o que procura (títulos, descrição, endereço ou bairro)">
                </div>

                <div class="form-group col-sm-4">
                  <label for="startPrice">Preço inicial</label>
                  <input type="text" ng-model="searchParams.startPrice" class="form-control text-right" id="startPrice" name="startPrice" placeholder="Início" data-affixes-stay="true" data-thousands="." data-decimal=",">
                </div>
                <div class="form-group col-sm-4">
                  <label for="endPrice">Preço final</label>
                  <input type="text" ng-model="searchParams.endPrice" class="form-control text-right" id="endPrice" name="endPrice" placeholder="Fim" data-affixes-stay="true" data-thousands="." data-decimal=",">
                </div>

                <div class="clearfix"></div>

                <div class="pull-right">
                  <button type="button" ng-click="resetSearchForm()" class="btn btn-default"><i class="fa fa-refresh"></i><span class="hidden-xs">  Limpar</span></button>
                  <a class="btn btn-info" href="<%= new_real_estate_path %>"><i class="fa fa-plus"></i><span class="hidden-xs">  Incluir</span></a>
                  <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span class="hidden-xs">  Pesquisar</span></button>
                </div>
                <div class="clearfix"></div>
                <br/>
              </form>
              <hr/>
              <paging class="small"
                      page="results.currentPage"
                      page-size="results.perPage"
                      total="results.totalEntries"
                      adjacent="1"
                      hide-if-empty="false"
                      ul-class="pagination pagination-sm"
                      show-prev-next="true"
                      paging-action="paginate(page)"></paging>

              <table class="table table-clean table-bordered datatable" data-scroll=".oc-scroll" id="rid690039f4aa0432318fd14c6e6bd1ea8512">
                <thead>
                <tr>
                  <th class="text-center">Código</th>
                  <th class="text-center">Título</th>
                  <th class="text-center hidden-xs">Bairro/Cidade</th>
                  <th class="text-center hidden-xs">Tipo</th>
                  <th class="text-center hidden-xs">Preço</th>
                  <th style="min-width: 110px"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="e in results.entries">
                  <td class="text-center">{{e.code}}</td>
                  <td class="text-center">{{e.title}}</td>
                  <td class="text-left hidden-xs">{{e.neighborhoodName}}/{{e.cityName}}</td>
                  <td class="text-center hidden-xs">{{e.type}}</td>
                  <td class="text-right hidden-xs">{{e.price}}</td>
                  <td class="text-center">
                    <div class="btn-group">
                      <a href="/manager/real_estates/{{e.id}}/edit" title="Editar" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></a>
                      <a href="<%= new_proposal_path %>?by={{e.id}}" title="Criar Proposta" class="btn btn-info btn-sm"><i class="fa fa-file-archive-o"></i></a>
                      <a href="#" ng-click="destroy(e)" title="Remover" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <paging class="small"
                      page="results.currentPage"
                      page-size="results.perPage"
                      total="results.totalEntries"
                      adjacent="1"
                      hide-if-empty="false"
                      ul-class="pagination pagination-sm"
                      show-prev-next="true"
                      paging-action="paginate(page)"></paging>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>