<p id="notice"><%= notice %></p>

<p>
  <strong>Notes:</strong>
  <%= @real_estate.notes %>
</p>

<%= link_to 'Edit', edit_real_estate_path(@real_estate) %> |
<%= link_to 'Back', real_estates_path %>
