<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4" xmlns="http://www.w3.org/1999/html">
  <h1 class="page-title txt-color-blueDark">
    <i class="fa fa-pencil fa-fw "></i> <%= class_name.titleize %>
  </h1>
</div>

<div class="row">
  <article class="col-sm-12 col-md-12 col-lg-12">

    <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
      <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2 ng-bind="(entity.id > 0 ? 'Alterar' : 'Incluir novo') + '<%= class_name.titleize %>'"></h2>
      </header>

      <div>
        <div class="widget-body no-padding">
          <form id="form" name="form" class="smart-form" ng-submit="save(entity)">
            <header>Dados <%= class_name.titleize %></header>
            <fieldset>

              <% attributes.each do |attribute| -%>
                  <section>
                    <%- if attribute.reference? -%>
                        <label class="label" for="<%= attribute.name %>"><%= attribute.name.titleize %></label>
                        <div class="input">
                            <select data-ng-model="entity.<%= attribute.name %>" id="<%= attribute.name %>" name="<%= attribute.name %>"></select>
                        </div>
                    <%- else -%>
                        <label class="label" for="<%= attribute.name %>"><%= attribute.name.titleize %></label>
                        <div class="input">
                            <input type="text" data-ng-model="entity.<%= attribute.name %>" id="<%= attribute.name %>" name="<%= attribute.name %>"/>
                        </div>
                    <%- end -%>
                    </section>
              <% end -%>
            </fieldset>
            <footer>
              <button type="submit" data-ng-disabled="form.$invalid" class="btn btn-primary"><i class="fa fa-save"></i><span class="hidden-xs">  Salvar</span></button>
              <button type="button" data-ng-click="resetSaveForm()" class="btn btn-default"><i class="fa fa-refresh"></i><span class="hidden-xs">  Limpar</span></button>
              <button type="button" class="btn btn-default" onclick="window.history.back();"><i class="fa fa-arrow-left"></i><span class="hidden-xs">  Voltar</span></button>
            </footer>
          </form>
        </div>
      </div>
    </div>
  </article>
</div>