<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
  <h1 class="page-title txt-color-blueDark">
    <i class="fa fa-table fa-fw "></i>Pesquisar <%= plural_table_name.titleize %>
  </h1>
</div>

<div class="row">
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget jarviswidget-color-darken">
      <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2><%= plural_table_name.titleize %></h2>
      </header>
      <div>
        <div class="widget-body no-padding">
          <form id="form" name="form" class="smart-form" ng-submit="search()">
            <fieldset>
              <section class="col-md-6 col-lg-6">
                <label class="label" for="descricao">NOME_CAMPO</label>
                <div class="input">
                  <input type="text" autofocus ng-focus ng-model="searchParams.NOME_CAMPO" id="NOME_CAMPO" name="NOME_CAMPO"/>
                </div>
              </section>
            </fieldset>
            <footer>
              <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span class="hidden-xs">  Pesquisar</span></button>
              <a href="/<%= plural_table_name %>/new" class="btn btn-primary"><i class="fa fa-plus"></i><span class="hidden-xs">  Incluir</span></a>
              <button type="button" ng-click="resetSearchForm()" class="btn btn-default"><i class="fa fa-refresh"></i><span class="hidden-xs">  Limpar</span></button>
            </footer>
          </form>
          <paging
          class="small"
          page="results.currentPage"
          page-size="results.perPage"
          total="results.totalEntries"
          adjacent="1"
          hide-if-empty="false"
          ul-class="pagination pagination-sm"
          show-prev-next="true"
          paging-action="paginate(page)"></paging>

          <table id="dt_basic" class="table table-bordered table-hover table-striped" width="100%">
            <thead>
            <tr>
              <% attributes.reject(&:password_digest?).each do |attribute| -%>
                  <th class="text-align-center"><%= attribute.human_name.titleize %></th>
              <% end -%>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="e in results.entries">

              <% attributes.reject(&:password_digest?).each do |attribute| -%>
                  <td>{{<%= class_name.downcase %>.<%= attribute.name %>}}</td>
              <% end -%>
              <td class="text-align-center">
                <div class="btn-group">
                  <a href="/<%= plural_table_name %>/{{e.id}}/edit" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                  <a href="#" ng-click="destroy(e)"  class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>

          <paging
          class="small"
          page="results.currentPage"
          page-size="results.perPage"
          total="results.totalEntries"
          adjacent="1"
          hide-if-empty="false"
          ul-class="pagination pagination-sm"
          show-prev-next="true"
          paging-action="paginate(page)"></paging>
        </div>
      </div>
    </div>
  </article>
</div>