<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h3 class="em-page-header v-mid-row thin">
        <i class="icm icm-home6 text-gradient-info-dk"></i>
        <span class="text-gradient-info-dk">Propostas</span>
      </h3>
    </div>
    <div class="col-sm-6 text-right-sm text-right-md text-right-lg hidden-xs hidden-sm">
      <ul class="breadcrumb breadcrumb-top">
        <li><i class="fa fa-home"></i> Manager</li>
        <li class="active">Propostas</li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="rows" rel="panels">
    <div class="panels">
      <div class="panel panel-default gradient-diag1">
        <div class="panel-heading panel-handle panel-colorize">
          <div class="panel-actions pull-right panel-actions-reveal">
            <span class="panel-actions-reveal-hide animated fadeInRight">
                <span class="panel-action panel-fullscreen">
                  <i class="fa fa-expand"></i>
                </span>
                <span class="panel-action panel-collapse">
                  <i class="fa fa-minus"></i>
                </span>
            </span>
            &nbsp;&nbsp;
            <i class="fa fa-bars panel-actions-reveal-icon"></i>
          </div>
          <div class="panel-title">
            <span class="panel-title" data-type="text">Dados da Proposta <span ng-hide="entity.id === undefined">({{entity.code}})</span> </span>
          </div>
        </div>
        <div class="panel-body-collapse collapse in">
          <div class="panel-body">
            <form id="form" name="form" role="form" ng-submit="save(entity)">

              <div class="form-group">
                <label for="realEstatecode">Código do imóvel: <b>{{entity.realEstate.code}}</b></label>
              </div>

              <div class="form-group string">
                <label for="realEstateNotes">Dados do imóvel: <br/>{{entity.realEstate.notes}}</label>
              </div>

              <div class="form-group string">
                <label for="notes">E-mail<span class="text-gradient-danger">*</span></label>
                <input type="text" ng-model="entity.email" name="email" id="email" class="form-control" required/>
              </div>

              <div class="form-group string">
                <label for="notes">Descrição da proposta<span class="text-gradient-danger">*</span></label>
                <textarea class="form-control" id="notes" name="notes" ng-model="entity.notes" required rel="autosize" placeholder="Descrição" style="overflow: hidden; word-wrap: break-word; resize: vertical; height: 200px;"></textarea>
              </div>

              <div class="pull-right">
                <a class="btn btn-default" href="<%= proposals_path %>"><i class="fa fa-arrow-left"></i><span class="hidden-xs">  Voltar</span></a>
                <button type="button" ng-click="resetSaveForm(form)" class="btn btn-default"><i class="fa fa-refresh"></i><span class="hidden-xs">  Limpar</span></button>
                <a href="<%= real_estates_path %>" class="btn btn-default"><i class="fa fa-search"></i><span class="hidden-xs">  Procurar Imóvel</span></a>
                <button type="button" ng-show="entity.id != null" ng-click="send()" class="btn btn-default"><i class="icm icm-mail-send"></i><span class="hidden-xs">  Enviar Proposta</span></button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"><i class="fa fa-save"></i><span class="hidden-xs">  Salvar</span></button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>