<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <h3 class="em-page-header v-mid-row thin">
        <i class="icm icm-home6 text-gradient-info-dk"></i>
        <span class="text-gradient-info-dk">Pesquisa de Propostas</span>
      </h3>
    </div>
    <div class="col-xs-6 text-right-sm text-right-md text-right-lg hidden-xs hidden-sm">
      <ul class="breadcrumb breadcrumb-top">
        <li><i class="fa fa-home"></i> Manager</li>
        <li class="active">Pesquisa de Propostas</li>
      </ul>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="container-fluid">
    <div class="rows" rel="panels">
      <div class="panels">
        <div class="panel panel-default gradient-diag1">
          <div class="panel-heading panel-handle panel-colorize">
            <div class="panel-actions pull-right panel-actions-reveal">
            <span class="panel-actions-reveal-hide animated fadeInRight">
                <span class="panel-action panel-fullscreen">
                  <i class="fa fa-expand"></i>
                </span>
                <span class="panel-action panel-collapse">
                  <i class="fa fa-minus"></i>
                </span>
            </span>
              &nbsp;&nbsp;
              <i class="fa fa-bars panel-actions-reveal-icon"></i>
            </div>
            <div class="panel-title">
              <span class="panel-title">Dados da Proposta</span>
            </div>
          </div>
          <div class="panel-body-collapse collapse in">
            <div class="panel-body">
              <form id="form" name="form" role="form" ng-submit="search()">


                <div class="form-group col-sm-2">
                  <label for="code">Código da proposta</label>
                  <input type="text" ng-model="searchParams.code" maxlength="15" class="form-control" id="code" name="code" placeholder="Informe o código da proposta">
                </div>
                <div class="form-group col-sm-2">
                  <label for="realEstateCode">Código do imóvel</label>
                  <input type="text" ng-model="searchParams.realEstateCode" maxlength="15" class="form-control" id="realEstateCode" name="realEstateCode" placeholder="Informe o código do imóvel">
                </div>

                <div class="form-group col-sm-12">
                  <label for="keyWord">Descrição</label>
                  <input type="text" ng-model="searchParams.keyWord" maxlength="100" class="form-control" id="keyWord" name="keyWord" placeholder="Informe o que procura (descrição)">
                </div>

                <div class="clearfix"></div>

                <div class="pull-right">
                  <button type="button" ng-click="resetSearchForm()" class="btn btn-default"><i class="fa fa-refresh"></i><span class="hidden-xs">  Limpar</span></button>
                  <a class="btn btn-info" href="<%= new_proposal_path %>"><i class="fa fa-plus"></i><span class="hidden-xs">  Incluir</span></a>
                  <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span class="hidden-xs">  Pesquisar</span></button>
                </div>
                <div class="clearfix"></div>
                <br/>
              </form>
              <hr/>
              <paging class="small"
                      page="results.currentPage"
                      page-size="results.perPage"
                      total="results.totalEntries"
                      adjacent="1"
                      hide-if-empty="false"
                      ul-class="pagination pagination-sm"
                      show-prev-next="true"
                      paging-action="paginate(page)"></paging>

              <table class="table table-clean table-bordered datatable" data-scroll=".oc-scroll" id="rid690039f4aa0432318fd14c6e6bd1ea8512">
                <thead>
                <tr>
                  <th class="text-center">Código da Proposta</th>
                  <th class="text-center">Título Anúncio</th>
                  <th class="text-center">E-mail</th>
                  <th class=""></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="e in results.entries">
                  <td class="text-center">{{e.code}}</td>
                  <td class="text-left"><a href="/manager/real_estates/{{e.realEstateId}}/edit">{{e.realEstate.title}}</a></td>
                  <td class="text-center"><a href="mailto:{{e.email}}" target="_blank">{{e.email}}</a></td>
                  <td class="text-center">
                    <div class="btn-group">
                      <a href="/manager/proposals/{{e.id}}/edit" title="Editar" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></a>
                      <a href="#" ng-click="destroy(e)" title="Remover" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <paging class="small"
                      page="results.currentPage"
                      page-size="results.perPage"
                      total="results.totalEntries"
                      adjacent="1"
                      hide-if-empty="false"
                      ul-class="pagination pagination-sm"
                      show-prev-next="true"
                      paging-action="paginate(page)"></paging>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>