<% content_for :sub_title do %>Contato<% end %>
<% content_for :seo_header do %>
    <meta name="description" content="Entre em contato conosco para solicitar propostas, tirar dúvidas e expor sua necessidade. Teremos prazer em atendê-lo.">
<% end %>

<%= render(:partial=> 'includes/breadcrumb', :locals => {:item => {:title => 'Contato', :path => contact_path}}) %>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-container">
          <div class="blog-content">
            <div id="map"></div>

            <div class="blog-title">
              <h2>Teremos prazer em atendê-lo.</h2>
              <p>...Se você deseja receber uma proposta ou possui alguma dúvida, fique a vontade para no contatar.</p>
            </div>

            <div class="blog-text contact">
              <div class="row">
                <div class="col-md-8 col-sm-7">
                  <form onsubmit="return contact(this)" action="<%= contact_path %>">
                    <%= tag(:input, :type => 'hidden', :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                    <div class="form-group">
                      <label for="name" class="sr-only">Nome</label>
                      <input type="text" name="name" class="form-control" placeholder="Informe seu nome" required>
                    </div>
                    <div class="form-group">
                      <label for="email" class="sr-only">E-mail</label>
                      <input type="email" id="email" name="email" class="form-control" placeholder="Informe seu e-mail" required>
                    </div>
                    <div class="form-group">
                      <label for="subject" class="sr-only">Assunto</label>
                      <input type="text" name="subject" class="form-control" placeholder="Assunto">
                    </div>
                    <div class="form-group">
                      <label for="name" class="sr-only">Mensagem</label>
                      <textarea class="form-control" name="message" rows="5" maxlength="1000" placeholder="Mensagem" required></textarea>
                    </div>
                    <div class="form-group">
                      <button type="submit" name="submit" id="btnContact" class="btn btn-success"><i class="fa fa-envelope-o"></i> &nbsp;&nbsp;<span id="btnContactLabel">Enviar mensagem</span></button>
                    </div>
                  </form><br>
                </div>
                <div class="col-md-4 col-sm-5">
                  <address>
                    <strong>Buy Imóveis</strong><br>
                    <%= city %> - <%= neighborhood %><br>
                    <%= street %><br>
                    <abbr title="Telefone">Tel.</abbr> <a href="tel:<%= phone %>"><%= phone_formatted(phone) %></a> | <a href="tel:<%= phone2 %>"><%= phone_formatted(phone2) %></a>
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>