<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h3 class="em-page-header v-mid-row thin">
        <i class="icm icm-home6 text-gradient-info-dk"></i>
        <span class="text-gradient-info-dk">Cidades</span>
      </h3>
    </div>
    <div class="col-sm-6 text-right-sm text-right-md text-right-lg hidden-xs hidden-sm">
      <ul class="breadcrumb breadcrumb-top">
        <li><i class="fa fa-home"></i> Manager</li>
        <li class="active">Bairros</li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="rows" rel="panels">
    <div class="panels">
      <div class="panel panel-default gradient-diag1">
        <div class="panel-heading panel-handle panel-colorize">
          <div class="panel-actions pull-right panel-actions-reveal">
            <span class="panel-actions-reveal-hide animated fadeInRight">
                <span class="panel-action panel-fullscreen">
                  <i class="fa fa-expand"></i>
                </span>
                <span class="panel-action panel-collapse">
                  <i class="fa fa-minus"></i>
                </span>
            </span>
            &nbsp;&nbsp;
            <i class="fa fa-bars panel-actions-reveal-icon"></i>
          </div>
          <div class="panel-title">
            <span class="panel-title" data-type="text">Dados do Bairro</span>
          </div>
        </div>
        <div class="panel-body-collapse collapse in">
          <div class="panel-body">
            <form id="form" name="form" role="form" ng-submit="save(entity)">
              <div class="form-group" ng-class="{'has-error': form.name.$error.required && form.name.$dirty}">
                <label for="name">Nome <span class="text-gradient-danger">*</span></label>
                <input type="text" ng-model="entity.name" maxlength="100" class="form-control" id="name" name="name" placeholder="Informe o nome" required>
              </div>
              <div class="form-group col-sm-6">
                <label for="states">Estado</label>
                <select ng-model="entity.stateId" ng-change="loadCities()" id="states" ng-options="s.id as s.name for s in states" class="form-control" required></select>
              </div>
              <div class="form-group col-sm-6">
                <label for="city">Cidade <span class="text-gradient-danger">*</span></label>
                <select ng-model="entity.cityId" id="city" ng-options="c.id as c.name for c in cities" class="form-control" required><option style="display: none"></option></select>
              </div>

              <div class="clearfix"></div>

              <div class="pull-right">
                <a class="btn btn-default" href="<%= neighborhoods_path %>"><i class="fa fa-arrow-left"></i><span class="hidden-xs">  Voltar</span></a>
                <button type="button" ng-click="resetSaveForm(form)" class="btn btn-default"><i class="fa fa-refresh"></i><span class="hidden-xs">  Limpar</span></button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"><i class="fa fa-save"></i><span class="hidden-xs">  Salvar</span></button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>