<i>Atenciosamente,</i>
<hr style="margin: 10px 0 5px;background-color: #e9e9e9;border: 0 none;color: #e9e9e9;height: 1px; "/>
<table border='0'>
  <tbody>
  <tr>
    <td style="width:140px">
      <img src="<%= attachments['logo-marca-buy-imoveis.jpg'].url %>"/>
    </td>
    <td width="8"></td>
    <td width="310px" style="padding-right:8px; font-size:11px; font-weight:normal; padding-left:8px; line-height:18px; font-family:Myriad Pro,Arial,Trebuchet MS,Sans Serif; color:#ec1863">
      <span style="font-weight: bold; font-size: 14px; color: #6f9a37;">Buy Imóveis</span><br>
      <a href="mailto:contato@buyimoveis.com.br" style="color: #999999; text-decoration:none;" onmouseover='this.style.color="#407873"' onmouseout='this.style.color="#999"'>contato@buyimoveis.com.br</a><br>

      <a href="tel:+<%=phone%>" style="color: #999999;text-decoration:none;" onmouseover='this.style.color="#407873"' onmouseout='this.style.color="#999"'><%=phone_formatted(phone)%></a> | <a href="tel:+<%=phone2%>" style="color: #999999;text-decoration:none;" onmouseover='this.style.color="#407873"' onmouseout='this.style.color="#999"'><%=phone_formatted(phone2)%></a><br>

      <a href="http://www.buyimoveis.com.br" target="_blank" onmouseover='this.style.color="#407873"' onmouseout='this.style.color="#999999"' style="color: #999999;text-decoration:none;">www.buyimoveis.com.br</a><br>
    </td>
  </tr>
  </tbody>
</table>