<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1><%= msg_good %> <%= @user.name %>!</h1>

<p>Você solicitou que criássemos uma nova senha e assim fizemos.</p>

<br/>
<br/>
<p>Abaixo segue a nova senha:</p>

<p>Senha: <span style="color:#e9e9e9"><%= @user.uncrypted_pass %></span></p>


<p>Para acessar o sistema clique no link abaixo<br/>
  <a href="https://www.buyimoveis.com.br/manager" target="_blank">Manager</a>
</p>

<br/>
<br/>
<br/>
<p>Data/hora: <%= DateTime.current.strftime('%d/%m/%Y  %H:%M') %></p>
<br/>
<br/>


<footer>
  <%= render :partial => 'assinatura' %>
</footer>
</body>
</html>