<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Contato feito através do site</h1>

<br/>
<br/>

<p>E-mail: <a href="mailto:<%= @data[:email] %>"><%= @data[:email] %></a><br/>
Nome: <%= @data[:name] %><br/>
Assunto: <%= @data[:subject] %><br/>
Mensagem: <%= @data[:text] %></p>

<br/>
<br/>
<br/>
<p>Data/hora: <%= DateTime.current.strftime('%d/%m/%Y  %H:%M') %></p>
<br/>
<br/>

<footer>
  <%= render :partial => 'assinatura' %>
</footer>
</body>
</html>