<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1><%= msg_good %>!</h1>

<p>Você solicitou inscrição para receber novidades da Buy Imóveis</p>

<br/>
<br/>

<p>E-mail: <%= @news_letter.email %></p>

<p style="font-weight: bold">Para vocês retirar sua inscrição basta solicitar entrando no <a href="http://www.buyimoveis.com.br/contato" target="_blank">http://www.buyimoveis.com.br/contato</a>.</p>

<br/>
<br/>
<br/>
<p>Data/hora: <%= DateTime.current.strftime('%d/%m/%Y  %H:%M') %></p>
<br/>
<br/>

<footer>
  <%= render :partial => 'assinatura' %>
</footer>
</body>
</html>