<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1><%= msg_good %>, segue a proposta número <%= @proposal.code %></h1>

<br/>
<br/>

<p>Proposta referente ao imóvel <a target="_blank" href="http://www.buyimoveis.com.br<%= url_real_estate_code @proposal.real_estate.code %>"><%= @proposal.real_estate.title %></a></p>

<p>Para acessar a proposta clique no link <a target="_blank" href="http://www.buyimoveis.com.br/imovel/proposta/<%= @proposal.key %>">http://www.buyimoveis.com.br/imovel/proposta/<%= @proposal.key %></a>.</p>

<br/>
<br/>

<br/>
<br/>
<br/>
<p>Data/hora: <%= DateTime.current.strftime('%d/%m/%Y  %H:%M') %></p>
<br/>
<br/>

<footer>
  <%= render :partial => 'assinatura' %>
</footer>
</body>
</html>