<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @news_letter.email %>
</p>

<%= link_to 'Edit', edit_news_letter_path(@news_letter) %> |
<%= link_to 'Back', news_letters_path %>
