<div class="oc-sidebar-content" id="collapseAvatarLeft">
  <form class="oc-header oc-search oc-partial-hidden oc-filter" role="search">
    <div class="form-group has-header oc-reveal collapsed">
      <span class="icm icm-filter3 form-control-header"></span>
      <input type="text" class="form-control oc-menu-filter" placeholder="Filtrar menu" data-toggle="listfilter" data-target="#collapseNavbarLeft2">
    </div>
  </form>

  <ul class="nav nav-stacked oc-sidebar-nav" id="collapseNavbarLeft2">
    <li class=" active">
      <a rel="popover-sidebar" data-container="body" data-placement="right" data-content="Clique para voltar ao manager." href="<%= manager_path %>">
        <i class="oc-partial-icon icm icm-screen4"></i>
        <span class="oc-partial-menu-item">Dashboard</span>
      </a>
    </li>
    <li>
      <a rel="popover-sidebar" data-container="body" data-placement="right" data-content="Clique para administrar imóveis." href="<%= real_estates_path %>">
        <i class="oc-partial-icon icm icm-home6"></i>
        <span class="oc-partial-menu-item">Imóveis</span>
      </a>
    </li>
    <li>
      <a rel="popover-sidebar" data-container="body" data-placement="right" data-content="Clique para administrar propostas." href="<%= proposals_path %>">
        <i class="oc-partial-icon icm icm-pen"></i>
        <span class="oc-partial-menu-item">Propostas</span>
      </a>
    </li>
    <li>
      <a rel="popover-sidebar" data-container="body" data-placement="right" data-content="Clique para e-mails de notícias." href="<%= news_letters_path %>">
        <i class="oc-partial-icon icm icm-radio"></i>
        <span class="oc-partial-menu-item">E-mails de Notícias</span>
      </a>
    </li>
    <li class="dropdown">
      <a data-toggle="collapse" data-parent="#collapseNavbarLeft2" rel="popover-sidebar" data-container="body" data-placement="right" target="_self" data-content="Gestão de localidades." href="#uide2009b529b199969dd49e4f359766f73"> <i class="oc-partial-icon icm icm-globe"></i><span class="oc-partial-menu-item">Localidades<b class="caret"></b></span></a>
      <ul class="dropdown-menu collapse" id="uide2009b529b199969dd49e4f359766f73">
      <li>
        <a class="collapsed" href="<%= cities_path %>">    Cidades</a>
      </li>
      <li class="">
        <a class="collapsed" id="oc-open-chat" data-toggle="offcanvas" data-control="right" data-states="open,hidden" href="<%= neighborhoods_path %>">    Bairros</a>
      </li>
    </ul>
    </li>

    <% if @user_session.admin? %>
        <li>
          <a rel="popover-sidebar" data-container="body" data-placement="right" data-content="Clique para administrar usuários." href="<%= users_path %>">
            <i class="oc-partial-icon icm icm-users"></i>
            <span class="oc-partial-menu-item">Usuários</span>
          </a>
        </li>
    <% end %>
  </ul>
</div>