<%
   description = 'A Buy Imóveis possui uma ampla variedade de imóveis para ajudar você a encontrar o que deseja'
   title = 'Buy Imóveis'
%>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title><%= content_for?(:sub_title) ? "#{content_for(:sub_title)} | #{title}" : "#{title} - O imóvel do seu sonho a um clique de você" %></title>
  <meta name="keywords" content="venda de imóveis, apartamentos, casas, terrenos, lojas comerciais, prédios comerciais, lofts, studios">
  <% if content_for?(:seo_header) %>
      <%= content_for(:seo_header) %>
  <% else %>
      <meta name="description" content="<%=description%>">
  <% end %>


  <link rel="canonical" href="<%= "http://www.buyimoveis.com.br#{url_for(:page => params[:page])}" %>">

  <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="mobile-web-app-capable">
  <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="content-language" content="pt-br"/>
  <meta name="google-site-verification" content="v3mGIwkQOhesmzi5mrCW00Hg6HV0Dn3VpP9uFbEqe88" />

  <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path 'favicons/apple-touch-icon-57x57.png' %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path 'favicons/apple-touch-icon-72x72.png' %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= image_path 'favicons/apple-touch-icon-60x60.png' %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path 'favicons/apple-touch-icon-76x76.png' %>">
  <meta name="apple-mobile-web-app-title" content="Buy Imóveis">
  <link rel="icon" type="image/png" href="<%= image_path 'favicons/favicon-96x96.png' %>" sizes="96x96">
  <link rel="icon" type="image/png" href="<%= image_path 'favicons/favicon-16x16.png' %>" sizes="16x16">
  <link rel="icon" type="image/png" href="<%= image_path 'favicons/favicon-32x32.png' %>" sizes="32x32">
  <meta name="msapplication-TileColor" content="#1b1d2a">
  <meta name="application-name" content="Buy Imóveis">

  <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,800' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'portal/application', media: 'all'%>

  <!--[if lt IE 9]>
      <%= javascript_include_tag 'portal/html5shiv.js' %>
      <%= javascript_include_tag 'portal/respond.min.js' %>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body id="top">
<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="topbar-nav topbar-left">
          <li class="disabled"><a href="mailto:contato@buyimoveis.com.br" target="_blank"><i class="fa fa-envelope"></i> contato@buyimoveis.com.br</a></li>
          <li class="disabled"><a href="tel:<%= phone%>" target="_blank"><i class="fa fa-phone"></i> <%= phone_formatted(phone) %></a></li>
        </ul>
        <ul class="topbar-nav topbar-right hidden-xs">
          <li><a href="https://twitter.com/buyimoveis" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/buyimoveis" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://plus.google.com/109451992077548112706/about" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><img src="<%= image_path 'logo-white-marca.png' %>" alt="mikha"></a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= active_menu controller_name, 'home' %>"><a href="<%= root_path %>">Home</a></li>
        <li class="<%= active_menu controller_name, 'search' %>"><a href="<%= search_path %>">Procurar</a></li>
        <li class="<%= active_menu controller_name, 'about_us' %>"><a href="<%= about_us_path %>">Sobre a Buyimoveis</a></li>
        <li><a href="<%= contact_path %>" class="signup">Contato</a></li>
      </ul>
    </div>
  </div>
</nav>


<%= yield %>



<div id="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
        <form onsubmit="return subscribeMe(this)" action="<%= subscribe_path %>">
          <%= tag(:input, :type => 'hidden', :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
          <div class="input-group">
              <input type="email" id="emailNewsLetter" required name="news_letter[email]" class="form-control input-<%= touch_device? ? 'sm' : 'lg' %>" placeholder="RECEBA NOVIDADES NO SEU E-MAIL">
              <span class="input-group-btn">
                <button class="btn btn-success btn-<%= touch_device? ? 'sm' : 'lg' %>" id="btnSubscribe" type="submit"><i class="fa fa-envelope"></i> <span id="btnSubscribeLabel">Desejo receber</span></button>
              </span>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12" itemtype="http://schema.org/RealEstateAgent">
        <div class="widget">
          <h2 itemprop="name">Buy Imóveis</h2>
          <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressLocality"><%= city %></span> - <span><%= neighborhood %></span><br>
            <span itemprop="streetAddress"><%= street %></span><br>
            <abbr title="Telefone">Tel.</abbr> <a href="tel:<%= phone %>" itemprop="telephone"><%= phone_formatted (phone) %></a> | <a href="tel:<%= phone2 %>" itemprop="telephone"><%= phone_formatted (phone2) %></a>
          </address>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="widget">
          <h3>Imóveis</h3>
          <ul class="list-unstyled">
            <li><a href="<%= search_path %>?ordenacao=mais-recentes#content">Mais recentes</a></li>
            <li><a href="<%= search_path %>?ordenacao=menor-preco#content">Melhores valores</a></li>
            <li><a href="<%= search_path %>?tipos=apartment#content">Apartamentos</a></li>
            <li><a href="<%= search_path %>?tipos=home#content">Casas</a></li>
            <li><a href="<%= search_path %>?tipos=release#content">Lançamentos</a></li>
            <li><a href="<%= search_path %>?tipos=room_store#content">Salas Comerciais</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="widget">
          <h3>Mapa</h3>
          <ul class="list-unstyled">
            <li><a href="<%= root_path %>" title="Ir para a página de início">Home</a></li>
            <li><a href="<%= search_path %>" title="Clique para procurar imóveis">Procurar Imóveis</a></li>
            <li><a href="<%= contact_path %>" title="Clique para entrar em contato conosco">Entre em Contato</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 copyright">
        <p>© <%= Date.current.year %> Buy Imóveis. Todos direitos reservados. <a href="http://www.ifollow.com.br" target="_blank" title="Desenvolvido por Ifollow Soluções em Software"><img src="<%= image_path 'ass_ifollow_rodape_branco.png' %>" alt="Assinatura Rodapé Ifollow Soluções em Software"></a></p>
        <a href="#top" class="btn btn-success scroltop"><i class="fa fa-angle-up"></i></a>
      </div>
    </div>
  </div>
</div>


<div class="modal modal-light fade" id="messages" aria-hidden="true" style="display: none;">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header ">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Buy Imóveis</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="<%= asset_path '/jquery.js' %>"><\/script>')</script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=pt"></script>

<%= javascript_include_tag 'portal/application'%>

<% if Rails.env.production? %>
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59055638-1', 'auto');
    ga('send', 'pageview');

</script>
<% end %>
</body>
</html>
