<!doctype html>
<html lang="pt-br" class="high" data-ng-app="buy-imoveis">
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <base href="/">
  <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1, maximum-scale=1.0, user-scalable=no">


  <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path 'favicons/apple-touch-icon-57x57.png' %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path 'favicons/apple-touch-icon-72x72.png' %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= image_path 'favicons/apple-touch-icon-60x60.png' %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path 'favicons/apple-touch-icon-76x76.png' %>">
  <meta name="apple-mobile-web-app-title" content="Buy Imóveis">
  <link rel="icon" type="image/png" href="<%= image_path 'favicons/favicon-96x96.png' %>" sizes="96x96">
  <link rel="icon" type="image/png" href="<%= image_path 'favicons/favicon-16x16.png' %>" sizes="16x16">
  <link rel="icon" type="image/png" href="<%= image_path 'favicons/favicon-32x32.png' %>" sizes="32x32">
  <meta name="msapplication-TileColor" content="#1b1d2a">
  <meta name="application-name" content="Buy Imóveis">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="content-language" content="pt-br"/>

  <!-- Use title if it's in the page YAML frontmatter -->
  <title ng-bind="titlePage"></title>

  <script type="text/javascript">
      var polyfilter_scriptpath = "/assets/manager/polyfills/filters/";
  </script>

  <%= stylesheet_link_tag 'manager/application', media: 'all' %>
  <%= javascript_include_tag 'manager/application' %>

  <%= csrf_meta_tags %>

</head>
<body class="high emerald-default">

<div class="oc-xs-push-push oc-sm-squeeze-push oc-md-squeeze-push oc-lg-squeeze-push modal-blur-content">

  <div id="oc-wrapper" class="oc-wrapper
       oc-lg-open-left oc-md-partial-left oc-sm-partial-left
       oc-lg-left-squeeze oc-md-left-squeeze oc-sm-left-squeeze oc-xs-left-push
       oc-lg-right-push oc-md-right-push oc-sm-right-push oc-xs-right-push">

    <div class="oc-push oc-scroll">
      <aside id="main-oc-sidebar-left" class="oc-sidebar oc-sidebar-left oc-sidebar-fixed nano">
        <div class="nano-content">
          <script type="text/template" id="bigdrop">

            <div class="panel panel-success no-margin-bottom">
              <div class="tab-content">
                <div class="padded tab-pane active fade in" id="uida56bc297a81315299c4364d205177240">
                  <ul class="list-group list-group-connected" id="lastRealEstates"></ul>
                </div>
                <div class="padded tab-pane fade" id="uide51f992e73ef5a16f57291e0105a1279">
                  <ul class="list-group list-group-connected" id="lastProposals"></ul>
                </div>
              </div>

              <div class="panel-colorize gradient-diag1">
                <ul class="nav nav-justified-all nav-arrow-top">
                  <li class="active">
                    <a href="#uida56bc297a81315299c4364d205177240" target="_self" data-toggle="tab">
                      <i class="icm icm-home6"></i>
                      <div>Últimos imóveis</div>
                    </a>
                  </li>
                  <li>
                    <a href="#uide51f992e73ef5a16f57291e0105a1279" target="_self" data-toggle="tab">
                      <i class="icm icm-pen"></i>

                      <div>Últimas propostas</div>
                    </a>
                  </li>
                </ul>
              </div>

            </div>
          </script>

          <div class="oc-sidebar-header">
            <ul class="nav nav-justified-all">
              <li>
                <a id="oc-left-toggle" href="#oc-wrapper"
                   class="btn-nav" style="width: 50px;"
                   data-toggle="offcanvas" data-control="left"
                   data-states="open,partial"
                   data-persist="lg,md,sm"
                   data-parent="body" data-sibling="right">
                  <i class="icm icm-menu6 oc-partial-rotate"></i>
                </a>
              </li>
              <li>
                <a class="btn-nav" data-toggle="modal" href="#jump-to-menu"> <i class="icm icm-arrow-right6"></i>
                </a></li>
              <li>
                <a class="btn-nav" href="#" rel="popover-click"
                   data-toggle="popover"
                   data-container="body"
                   data-placement="bottom">
                  <i class="icm icm-bubbles5 has-corner-badge animated tada">
                      <span class="badge badge-corner badge-corner-top-right badge-info-dk"><i class="fa fa-exclamation"></i></span>
                  </i>
                </a>
              </li>
            </ul>
          </div>

          <%= render :partial => 'layouts/menu' %>

        </div>
      </aside>

      <div id="main-oc-container" class="oc-container">
        <nav class="navbar navbar-default navbar-static-top navbar-inplace" role="navigation">
          <ul class="nav navbar-nav navbar-left pull-left hidden-sm hidden-md hidden-lg">
            <li>
              <a id="oc-left-toggle-xs" href="#oc-wrapper"
                 class="btn-nav pull-left "
                 data-toggle="offcanvas" data-control="left"
                 data-states="open,hidden"
                 data-persist="lg,md,sm"
                 data-parent="body" data-sibling="right">
                <i class="icm icm-menu6"></i>
              </a>
            </li>
          </ul>
          <a class="navbar-brand" href="<%= manager_path %>">
            <span class="text-gradient-success-dk">Manager Buy Imóveis</span>
          </a>
          <ul class="nav navbar-nav navbar-right pull-right hidden-xs">
            <li class="dropdown">
              <a href="#" target="_self" data-toggle="dropdown" class="navbar-img-link">
                <span class="hidden-xs hidden-sm hidden-md"> <i class="fa fa-user"></i> <%= @user_session.name %> (<%= t("user_profile_#{@user_session.profile}") %>)</span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu animated fadeIn fast">
                <li>
                  <a href="/manager/users/profile"> <i class="fa fa-user"></i> Meus dados</a>
                </li>
                <li>
                  <a href="<%= session_destroy_path %>" target="_self"><span class="text-danger"><i class="fa fa-sign-out"></i> Sair</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav nav-center hidden-xs"></ul>
        </nav>

        <div id="main" role="main" class="view-animate-container">
          <div id="content" data-ng-view="" ng-cloak class="ng-cloak view-master"><%= yield %></div>
        </div>
      </div>
    </div>
  </div>

</div>


<script>

    (function () {

        var __menu = $('#collapseNavbarLeft2');

        __menu.find('li').on('click', function() {
            __menu.find('li').removeClass('active');
           $(this).addClass('active');
        });

        var $document, initOffCanvas, load, protocol, scrollCb;

        if (!$.support.transition) {
            $.fn.transition = $.fn.animate;
        }

        protocol = window.location.protocol || document.location.protocol;

        if ('file:' === protocol) {
            Turbolinks.visit = function (url) {
                return window.location.href = url;
            };
        }

        $document = $(document);

        scrollCb = function () {
            return $(".nano").nanoScroller({
                flash: true,
                iOSNativeScrolling: true
            });
        };

        initOffCanvas = function (toggle) {
            var $target, $toggle, data, target;
            $toggle = $(toggle);
            target = $toggle.attr('href');
            $target = $(target);
            data = $toggle.data();
            data.toggle = false;
            return $target.offcanvas(data);
        };

        load = function () {
            var $container, $datatable, $floathead, $icheck, $popovers, $powerange, $sidebarLeft, $tooltips, breakpointDefinition, equalize, responsiveHelper;
            $('#oc-left-toggle').length && initOffCanvas('#oc-left-toggle');
            window.EmVars.colors = EmVars.colorsFromSass();

            $('[rel=jvfloat]').jvFloat();
            $('[rel=autosize]').autosize();
            $('[rel=tabdrop]').tabdrop({
                text: 'More'
            });
            $('[rel=editable]').editable();
            $('[rel=classselector]').classselector();
            $('[rel=panels]').panels();
            $('[rel=tree]').tree();
            $('[rel=summernote]').summernote();
            $('[rel=selectize]').selectize({
                plugins: ['remove_button'],
                dropdownClass: 'selectize-dropdown animated fadeIn fast'
            });
            $('[rel=selectize-tags]').selectize({
                delimiter: ',',
                persist: false,
                plugins: ['remove_button'],
                dropdownClass: 'selectize-dropdown animated fadeIn fast',
                create: function (input) {
                    return {
                        value: input,
                        text: input
                    };
                }
            });
            responsiveHelper = null;
            breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $container = $('#main-oc-container');
            $sidebarLeft = $('#main-oc-sidebar-left');
            equalize = function () {
                var containerHeight, sidebarHeight;
                sidebarHeight = $sidebarLeft.outerHeight(true);
                containerHeight = $container.outerHeight(true);
                if (sidebarHeight > containerHeight) {
                    return $container.css({
                        height: sidebarHeight
                    });
                } else {
                    return $container.css({
                        height: 'auto'
                    });
                }
            };
            equalize();
            $sidebarLeft.find('.collapse').on('shown.bs.collapse hidden.bs.collapse', equalize);
            $('textarea[data-provide=markdown]').each(function () {
                var $this;
                $this = $(this);
                if ($this.data('markdown')) {
                    $this.data('markdown').showEditor();
                    return;
                }
                return $this.markdown($this.data());
            });

            scrollCb();
            $tooltips = $('[data-tooltip-show]');
            $tooltips.tooltip({
                trigger: 'manual'
            }).tooltip("show");
            $popovers = $('[rel="popover-click"]');
            $popovers.popover({
                html: true,
                content: function () {
                    return $('#bigdrop').html();
                },
                template: "<div class=\"popover popover-menu popover-grow-shrink\" role=\"tooltip\">\n  <div class=\"arrow\"></div>\n  <h3 class=\"popover-title\"></h3>\n  <div class=\"popover-content no-padding\"></div>\n</div>"
            });
            return $popovers.on('shown.bs.popover', function () {
                updateLastActivities();
                var $picheck;
                $picheck = $('.popover-menu [rel=icheck]');
                return $picheck.iCheck({
                    labelHover: false,
                    cursor: true,
                    inheritClass: true
                });
            });
        };

        $(function () {
            FastClick.attach(document.documentElement);
            return load();
        });

        $document.on("shown.bs.modal", function () {
            return $('.modal-blur-content').css({
                polyfilter: 'blur(3px)'
            });
        });

        $document.on("hidden.bs.modal", function () {
            return $('.modal-blur-content').css({
                polyfilter: 'none'
            });
        });

        $document.on("page:load", function () {
            Dropzone._autoDiscoverFunction();
            $('[data-ride="carousel"]').each(function () {
                var $carousel;
                $carousel = $(this);
                return $carousel.carousel($carousel.data());
            });
            return load();
        });

        $document.on('page:fetch', function () {
            return NProgress.start();
        });

        $document.on('page:change', function () {
            return NProgress.done();
        });

        $document.on('page:restore', function () {
            return NProgress.remove();
        });

        $(window).resize(scrollCb);

        $document.on('shown.bs.tab', scrollCb);

        $document.on('shown.bs.tab', function () {
            return $(window).trigger('resize');
        });

        $document.on('shown.bs.tab', function (e) {
            var cb;
            cb = function () {
                return $.sparkline_display_visible();
            };
            return setTimeout(cb, 1);
        });

        $document.tooltip({
            selector: '[rel=tooltip]'
        });

        $document.popover({
            selector: '[rel="popover-sidebar"]',
            trigger: 'hover',
            delay: {
                show: 400,
                hide: 0
            }
        });

        $document.popover({
            selector: '[rel=popover]',
            trigger: 'hover'
        });

        $document.on('click', function (e) {
            var $target;
            $target = $(e.target);
            if ($target.data('toggle') !== 'popover' && $target.parents('[data-toggle="popover"]').length === 0 && $target.parents('.popover.in').length === 0) {
                return $('[data-toggle="popover"]').popover('hide');
            }
        });

        $document.on('click', '#oc-open-chat', function (e) {
            $('#oc-right-toggle').tooltip('show');
            return $('.oc-scroll').animate({
                scrollTop: 0
            }, "slow");
        });

        $document.on('shown.turbocard', '.turbo-placeholder', function (e) {
            return $('.oc-scroll').animate({
                scrollTop: 0
            }, "slow");
        });

    }).call(this);

    function updateLastActivities() {
        var lastRealEstates = $('#lastRealEstates');
        var lastProposals = $('#lastProposals');

        $.ajax({
            url : "/manager.json",
            success : function(data) {
                if(data) {
                    if(data.realEstates.length > 0) {

                        lastRealEstates.empty();
                        var str = [];

                        for(var i = 0; i < data.realEstates.length; i++) {

                            var re = data.realEstates[i];
                            str.push("<li class='list-group-item'>");
                            str.push("<a href='/manager/real_estates/");
                            str.push(re.id);
                            str.push("/edit'>");
                            str.push(re.title);
                            str.push("</a><br/>");
                            str.push('<small class="text-muted">');
                            str.push(re.distance);
                            str.push('</small>');
                            str.push("</li>");
                        }
                        lastRealEstates.append(str.join(''))
                    }

                    if(data.proposals.length > 0) {

                        lastProposals.empty();
                        var str = [];

                        for(var i = 0; i < data.proposals.length; i++) {

                            var p = data.proposals[i];
                            str.push("<li class='list-group-item'>");
                            str.push("<a href='/manager/proposals/");
                            str.push(p.id);
                            str.push("/edit'>");
                            str.push(p.code);
                            str.push("</a><br/>");
                            str.push('<small class="text-muted">');
                            str.push(p.distance);
                            str.push('</small>');
                            str.push("</li>");
                        }
                        lastProposals.append(str.join(''))
                    }
                }
            }
        });
    }

</script>

<div class="modal blur jump-to-modal" id="jump-to-menu">
  <div class="modal-dialog modal-lg">
    <div class="clearfix">
      <button type="button" class="close pull-right text-white-dk"
              data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="container-fluid">
      <div class="row text-center vpadded-row">
        <div class="col-sm-4">
          <a href="<%= manager_path %>">
            <div class="jump-to-element padded text-gradient-white text-component-shadow">
              <i class="icm icm-screen4 icm-4x"></i>
              <h5>Dashboard</h5>
            </div>
          </a></div>
        <div class="col-sm-4">
          <a href="<%= real_estates_path %>">
            <div class="jump-to-element padded text-gradient-white text-component-shadow">
              <i class="icm icm-search2 icm-4x"></i>
              <h5>Pesquisar Imóveis</h5>
            </div>
          </a></div>
        <div class="col-sm-4">
          <a href="<%= new_real_estate_path %>">
            <div class="jump-to-element padded text-gradient-white text-component-shadow">
              <i class="icm icm-home6 icm-4x"></i>
              <h5>Incluir Imóvel</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="row text-center vpadded-row">
        <div class="col-sm-6">
          <a href="<%= proposals_path %>">
            <div class="jump-to-element padded text-gradient-white text-component-shadow">
              <i class="icm icm-pen icm-4x"></i>
              <h5>Propostas</h5>
            </div>
          </a>
        </div>
        <div class="col-sm-6">
          <a href="<%= users_path %>">
            <div class="jump-to-element padded text-gradient-white text-component-shadow">
              <i class="icm icm-users icm-4x"></i>
              <h5>Usuários</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal modal-light fade" id="fotosPopup" aria-hidden="true" style="display: none;">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header ">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Escolha as fotos do imóvel</h4>
      </div>
      <div class="modal-body">
        <form id="list_form" action="upload" class="form-inline" role="form" enctype="multipart/form-data" onsubmit="return false;">
          <%= token_tag nil %>
          <div class="action" style="text-align: center">
            <input type="file" name="image" id="filesToUpload" accept="image/*" multiple=true style="display: none"/>
            <output id="filesInfo"></output>
            <button id="selectImages" type="button" class="btn btn-info" onclick="$('#filesToUpload').click()">Clique para selecionar as imagens...</button>
          </div>
          <br/>
          <br/>
          <div id="progressArea" style="width: 100%"></div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-light fade" id="fotoZoomModal" aria-hidden="true" style="display: none;">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header ">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Zoom</h4>
      </div>
      <div class="modal-body">
        <img src="" id="imgZoom" class="img-responsive">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<%= yield :before_end_body %>

<div id="mq"></div>
<div id="emvars"></div>
</body>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.exp&signed_in=true&sensor=false&libraries=places"></script>
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>-->
</html>